.wrapper {
}
.page {

	&__recently {
	}
}
.order {
	// padding-top: 40px;
	@media (max-width:$mobileSmall){
		//  padding-top: 20px; 
	}
	.recently__container {
		padding-left: 30px;
		padding-right: 30px;
	}
	&__container {
		display: grid;
		gap: 20px;
		grid-template-columns: 49.285714% 1fr;
		&.cart-empty {
			@media (min-width:$mobile){
				gap: 60px;
				grid-template-columns: 40% 1fr; 
			}
		}
		@media (max-width:$tablet){
			row-gap: 60px;
			grid-template-columns: 1fr;
		}
		@media (max-width:$mobile){
			 row-gap: 40px; 
		}
	}

	&__done {
		// margin-bottom: 20px;
	}

	&__data {
	}
}
.done {

	&__title {
		.cart-empty & {
			margin-bottom: 40px;
			@media (max-width:$mobileSmall){
				 margin-bottom: 20px; 
			}
		}
		@media (max-width:$tablet){
			font-size: 35px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 50, 21,0,768,320); 
		}
	}

	&__content {
		padding: 20px;
		border-radius: 16px;
		background: #FFF;
		@media (max-width:$mobileSmall){
			 padding: 10px; 
		}
	}

	&__list {
		
	}

	&__item {
		&:not(:last-child) {margin-bottom: toRem(10);}
		span {
			font-weight: 500;
			margin-left: 20px;
			.order-error & {
				font-weight: 700;
			}
			@media (max-width:$mobile){
				 margin-left: 10px; 
			}
		}
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	&__form {
		display: grid;
		justify-content: space-between;
		grid-template-columns: 40% 55%;
		column-gap: toRem(40);
		margin-top: 40px;
		.popup__mini-button {
			position: absolute;
			left: 0;
			top: 105%;
		}
		@media (max-width:$pcSmall){
			row-gap: 40px;
			grid-template-columns: 1fr;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("row-gap", 55, 28,0,768,320); 
		}
	}

	&__text {
		color: #111;
		font-size: 15px;
		font-style: italic;
		line-height: normal;
		margin-bottom: 10px;
		@media (max-width:$tablet){
			font-size: toRem(20);
		}
		@media (max-width:$mobile){
			.cart-empty & {
				margin-top: 20px;
			}
			br {
				display: none;
			}
			 @include adaptiveValue("font-size", 28, 11,0,768,320); 
		}
	}

	&__link {
		display: block;
		text-align: center;
		margin-top: 40px;
		.cart-empty & {
			width: 500px;
			@media (max-width:$pcSmall){
				 width: 430px; 
			}
			@media (max-width:$tablet){
				@include adaptiveValue("width", 390, 290,0,1001,768.01);
			}
			@media (max-width:$mobile){
				 width: 100%; 
			}
		}
		@include adaptiveValue("font-size", 24, 20,0,1920,1001.99);
		@media (min-width:$mobile){
			 width: 55%; 
		}
		@media (max-width:$tablet){
			margin-top: 20px;
			font-size: 22px;
		}
		@media (max-width:$pcSmall) and (min-width:$mobile){
			width: 60%;
		}
		@media (max-width:$mobileSmall){
			 margin-top: 15px; 
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 15,0,768,320); 
		}
	}

	&__pay {
		margin-top: 20px;
			 margin-bottom: 20px;
		@media (min-width:$mobile){
			 width: 60%;
		}
		@media (max-width:$mobileSmall){
			margin-top: 10px;
			margin-bottom: 10px; 
		}
	}

	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__content {

		&_error {
			line-height: normal;
		}
	}

	&__subtitle {
		font-weight: 300;
		font-size: 16px;
		margin-bottom: 20px;
		@media (max-width:$tablet){
			font-size: 22px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 30, 15,0,768,320); 
		}
		@media (max-width:$mobileSmall){
			 margin-bottom: 15px; 
		}
	}

	&__body {
	}

	&__reasons {
		margin-bottom: 60px;
		@media (max-width:$mobile){
			 margin-bottom: 30px; 
		}
	}

	&__bold {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 15px;
		@media (max-width:$tablet){
			font-size: 20px;
			
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	&__list {
	}

	&__item-ol {
		margin-left: 15px;
		@media (max-width:$tablet){
			margin-left: 23px;
			font-size: 22px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("margin-left", 30, 15,0,768,320);
			 @include adaptiveValue("font-size", 30, 15,0,768,320); 
		}
		&:not(:last-child) {margin-bottom: toRem(15);}
	}

	

	&__link {
		.order-error & {
			@media (min-width:$mobile){
				width: 370px; 
			}
		}
	}
}

.order-error {
	@media (min-width:$tablet){
		grid-template-columns: 75% 1fr; 
	}
}


.present-done {
	// border-radius: 16px;
	// background: #FFF;
	// padding: 20px;
	margin-top: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: 10.591472% auto;
	@media (max-width:$tablet){
		grid-template-columns: 18.3% auto;
		margin-top: 60px;
	}
	@media (max-width:$mobileSmall){
		 padding: 10px;
		 column-gap: toRem(10);
		 row-gap: 10px;
		 margin-top: 20px;
	}
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		
		.done__text {
			margin-bottom: 0;
		}
	}

	&__button {
		display: block;
		width: 370px;
		@media (max-width:$tablet){
			width: 65%;
		}
		text-align: center;
		@media (max-width:$mobile){
			 width: 100%;
			 grid-column: 1 / -1; 
		}
	}
}

.popup {

	&__form-item {
		.done__form & {
			// flex-direction: row;
			margin-bottom: 0;
			@media (max-width:$pcSmall) and (min-width:$mobile){
				width: 60%;
			}
		}
	}

	&__input-wrap {
		
	}

	&__input {
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	&__label {
		.done__form & {
			@media (max-width:$tablet){
				font-size: 20px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 28, 13,0,768,320); 
			}
		}
	}

	&__mini-button {
		.done__form & {
			@media (max-width:$tablet){
				font-size: 18px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 25, 12,0,768,320); 
			}
		}
	}

	&__button {
		.done__form & {
			@media (max-width:$tablet){
				font-size: 25px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 35, 21,0,768,320); 
			}
		}
	}
}
.data-order {

	&__list {
		font-weight: normal;
		margin-bottom: 10px;
		border-radius: 16px;
		background: #FFF;
		padding: 20px;
		@media (max-width:$mobileSmall){
			 padding: 10px; 
		}
	}

	&__item {
		&:not(:last-child) {margin-bottom: toRem(20);}
	}

	&__subtitle {
		margin-bottom: 10px;
		display: block;
		color: $zagolovok;
		text-transform: uppercase;
		font-size: 16px;
		@media (max-width:$tablet){
			font-size: 22px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 32, 25,0,768,320); 
		}
	}

	&__text {
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	&__checkbox {
		display: flex;
		gap: 10px;
		align-items: center;
	}
}

