.page {
}
.lk {

	&__container {
	}

	&__breadcrumbs {
	}

	&__body {
		margin-bottom: 80px;
		line-height: normal;
		display: grid;
		gap: 20px;
		grid-template-columns: 75.459318% 1fr; /* 1150/1524 */
		@media (max-width: em(1400)){
			 grid-template-columns: 72% 1fr; 
		}
		@media (max-width:$pcSmall){
			grid-template-columns: 70% 1fr;
		}
		@media (max-width:$tablet){
			grid-template-columns: 100%;
		}
	}

	&__content {
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		@media (min-width:$pcSmall){
			justify-content: space-between;;
		}
		@media (max-width:$pcSmall){
			row-gap: 40px;
			
		}
		@media (max-width:$tablet){
			row-gap: 60px;
		}
		.lk__item {
			@media (max-width:$pcSmall){
				flex: 0 0 100%;
			}
			@media (max-width:$mobile){
				 width: 100%; 
			}
		}
	}

	&__item {
		&_data {
			margin-bottom: 60px;
			flex: 0 0 100%;
			@media (max-width:$pcSmall){
				margin-bottom: 0;
			}
		}
		&_button-save {
			width: 370px;
			margin:auto;
			@media (min-width:$pcSmall){
				margin-top: 40px; 
			}
		}
	}

	&__title {
	}

	&__list {
		display: grid;
		row-gap: 20px;
		@include adaptiveValue("column-gap", 95, 30,0,1540,1280);
		grid-template-columns: repeat(3, minmax(0, 1fr));
		@media (max-width:$tablet){
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		}
		@media (max-width:$mobile){
			 grid-template-columns: 1fr;
			//  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		}
	}

	&__button {
		@media (max-width:$pcSmall) and (min-width:$tablet){
			width: 250px;
			font-size: 14px;
		}
		@media (max-width:$tablet){
			width: 45%;
			margin:auto;
			@include adaptiveValue("font-size", 24, 20,0,1001.99,768.01);
		}
		@media (max-width:$mobile){
			width: 100%;
			 @include adaptiveValue("font-size", 35, 16,0,768,320); 
		}
		@media (max-width:$mobileSmall){
			 margin-top: -20px; 
		}
	}

	&__navigation {
	}
}

.personal {
	border-radius: 16px;
	background: #FFF;
	padding: 20px;
	@include adaptiveValue("padding-left", 36, 20,0,1540,1001.01);
	@include adaptiveValue("padding-right", 36, 20,0,1540,1001.01);
	@media (max-width:$mobileSmall){
		 padding: 10px; 
	}
	.popup__form-item {
		margin-top: 26px;
		margin-bottom: 0;
		row-gap: 6px;
		@media (max-width:$tablet){
			margin-top: 32px;
		}
		@media (max-width:$mobile){
			 row-gap: 0; 
		}
		@media (max-width:$mobileSmall){
			 margin-top: 20px; 
		}
	}
	.form-calc__input {
		width: 100%;
	}

	.bottom-calc__button {
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	.popup__label {
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	.popup__form-item .bottom-calc__button {
		text-decoration: none;
	}
	&__wrapper {
		position: relative;
		// outline: 1px solid red;
		
		&_tel {
			input[class] {
				width: 85%;
				@media (max-width: em(799)) and (min-width:$mobile){
					  width: 90%;
				}
			}
		}
		&_block {
			
		}
		&_button {
			margin-top: auto;
		}
	}

	&__item {
		.form-calc__input {
			padding-top: 16px;
			padding-bottom: 16px;
			@media (max-width:$tablet){
				font-size: 20px;
			}
			@media (max-width:$mobile){
				padding-left: 20px;
				@include adaptiveValue("height", 100, 46,0,768,320);
				@include adaptiveValue("font-size", 28, 13,0,768,320); 
			}
			@media (max-width:$mobileSmall){
				padding-left: 10px; 
			}
		}
	}

	&__actions {
		display: flex;
		gap: toRem(5);
		align-items: center;
		margin-top: 6px;
		span {
			position: absolute;
			left: 12px;
			@media (max-width:$tablet){
				left: 15px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("left", 30, 15,0,768,320); 
			}
			text-align: left;
		}
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
		img {
			width: 100%;
			height: auto;
		}
		&_add {
			span {
				text-decoration: underline;
			}
			@media (max-width:$tablet){
				width: 10px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("width", 15, 8,0,768,320); 
			}
		}
	}

	&__input-wrapper {
		position: relative;
		// z-index: 2;
		.input[id^=lk-birthday] {
			position: relative;
			// background: url('@img/lk/calendar.svg') 85% no-repeat;
			// z-index: 2;
		}
		.personal__galery {
			// position: relative;
			// z-index: 3;
		}
	}

	// &__img-input[class].qwe {
		// width: 27px;
		// height: 27px;
		// background: url('@img/lk/calendar.svg') 0 0 / cover no-repeat;
	// }

	&__input-border {
		width: 85%;
		border-radius: 3px;
		border: 1px solid #C7C7C7;
		background: #FAFAFA;
		@media (max-width:em(799)) and (min-width:$mobile){
			 width: 90%; 
		}
		.personal__img {
			position: absolute;
			z-index: 0;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
		}
		input[class] {
			border-radius: 0;
			background: initial;
			border: initial;
			background: url('@img/lk/calendar.svg') 97% no-repeat;
			padding-right: 10px;
			@media (max-width:$pcSmall){
				background-size: 20px;
			}
			@media (max-width:$tablet){
				background-size: 37px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("background-size", 65, 28,0,768,320); 
			}
		}
	}

	&__galery {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&__img {
	display: inline-block;
	@media (max-width:$pcSmall){
		width: 20px;
	}
	@media (max-width:$tablet){
		width: 37px;
	}
	@media (max-width:$mobile){
		 @include adaptiveValue("width", 65, 28,0,768,320); 
	}
	&_confirmed {
			width: 23px;
			@media (max-width:$tablet){
				width: 46px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("width", 65, 33,0,768,320); 
			}
		}
	img {
		width: 100%;
		height: auto;
	}

		&_picker {
			cursor: pointer;
			margin-right: 15px;
			@media (max-width:$pcSmall){
				margin-right: 5px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("margin-right", 25, 100,768,320); 
			}
		}
	}

	&__button {
		width: 100%;
		padding-top: 13px;
		padding-bottom: 13.5px;
		font-size: 18px;
		@media (max-width:$tablet){
			font-size: 20px;
			padding-top: 15.5px;
			padding-bottom: 15.5px;
		}
		@media (max-width:$mobile){
			margin-top: 20px;
			@include adaptiveValue("font-size", 28, 16,0,768,320); 
		}
	}

	&__add-img {

	}

	&__add-doc {
		._add-photo & {
			display: none;
		}
	}

	&__add-doc-confirmed {
		color: #23A104;
		font-style: italic;
		display: none;
	}

	&__add-doc-wait {
		color: rgba(0, 0, 0, 0.50);
		font-style: italic;
		display: none;
		._add-photo & {
			display: block;
		}
	}
}

.button-light {
}
.lk-address {
	@media (min-width:$pcSmall){
		flex: 0 0 43.478261%; /* 500/1150 */
	}
	&__item {
		// &:not(:last-child) {
			border-radius: 16px;
			background: #FFF;
			justify-content: space-between;
		// }
		padding: 12px toRem(20);
		display: flex;
		align-items: center;
		gap: 17px;
		margin-bottom: 20px;
		.address__button-address {
			margin-left: -20px;
		}
		.list-popup__button-text {
			@media (max-width:$tablet){
				font-size: 20px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 32, 17,0,768,320); 
			}
		}
		&_add {
			background: initial;
		}
	}

	&__text {
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	&__actions {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__button {
		width: 30px;
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 60, 30,0,768,320); 
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
.lk-notify {
	// padding: 20px;
	@media (min-width:$pcSmall){
		flex: 0 0 54.782609%; /* 630/1150 */
	}
	&__item {
		&:not(:last-child) {margin-bottom: toRem(30);}
	}

	&__checkboxes {
		background: #fff;
		border-radius: 16px;
		padding: 20px;
		@media (max-width:$mobileSmall){
			 padding: 10px; 
		}
	}
}

.button {

	&__actions {
	}
}
.navigation-lk {
	@media (max-width:$tablet){
		display: none;
	}
	&__list {
	}

	&__item {
		&:not(:last-child) {margin-bottom: toRem(20);}
	}

	&__link {
		@include adaptiveValue("font-size", 24, 18,0,1920,1001.01);
		color: $tekst-zagolovok-ne-aktivnyy;
		font-weight: 300;
		text-transform: uppercase;
		
		&_active {
			color: $zagolovok;
			font-weight: 400;
		}
	}
}

.lk {

	&__notify {
		position: fixed;
		z-index: 500;
		top: 30px;
		right: 10px;
		transition: transform 0.3s;
		transform: translateY(10px);
		opacity: 0;
		visibility: hidden;
		._save-data-complite & {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&__save-complite {
		&:not(:last-child) {margin-bottom: toRem(20);}
	}
}
.save-complite {
	padding: 15px;
	line-height: normal;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 2px 2px 8px 0px rgba(187, 144, 144, 0.10), -2px -2px 8px 0px rgba(187, 144, 144, 0.10), -10px -10px 10px 0px rgba(187, 144, 144, 0.10), 10px 10px 10px 0px rgba(187, 144, 144, 0.10);
	&__title {
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 13px;
		.save-done &{
			color: #0E9F51;
		}
		.save-error & {
			color: #D00000;
		}
	}
}

//Календарь
div.castom[class] {
	width: 308px;
	border: 1px solid #F4E1E6;
	background: #FFF;
	box-shadow: 2px 2px 8px 0px rgba(187, 144, 144, 0.10), -2px -2px 8px 0px rgba(187, 144, 144, 0.10), -10px -10px 10px 0px rgba(187, 144, 144, 0.10), 10px 10px 10px 0px rgba(187, 144, 144, 0.10);
	@media (max-width: em(360)){
		width: 250px;
		.air-datepicker--navigation {
			width: inherit;
		}
	}
	.air-datepicker-nav--title {
		font-size: 23px;
		color: $zagolovok;
		font-weight: 300;
		text-transform: uppercase;
		& i {
			font-size: 23px;
			color: $zagolovok;
			font-weight: 300;
			text-transform: uppercase;
		}
	}

	.air-datepicker-nav {
		align-items: center;
		padding-bottom: 10px;
		padding-top: 24px;
		
	}
	.air-datepicker--content {
		padding: 24px;
		padding-top: 16px;
		@media (max-width: em(360)){
			padding: 13px;
		}
	}

	.air-datepicker-body--day-name {
		color: #919191;
		font-size: 12px;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}

	.air-datepicker-body--cells {
		row-gap: 8px;
		justify-items: center;
		&.-months- {
			row-gap: 16px;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.air-datepicker-body--day-names {
		margin-bottom: 15px;
	}

	.air-datepicker-cell {
		font-size: 14px;
		color: #000;
		width: 32px;
		aspect-ratio: 1 / 1;
		&:hover{
			background: $knopka-rozovaya;
			border-radius: 50%;
			color: white;
		}
		&.-selected- {
			background: $knopka-rozovaya;
			border-radius: 50%;
			color: white;
		}

		&.-month- {
			width: 52px;
			font-size: 18px;
			text-transform: uppercase;
		}

		&.-other-month- {
			visibility: hidden;
		}
	}

	.air-datepicker-nav--action {
		svg {
			opacity: 0;
		}
		position: relative;
		&::after{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('@img/lk/arrow-datapicker-11x22.svg') center no-repeat;
		}
		&[data-action^="next"] {
			&::after{
				transform: rotate(180deg);
			}
		}
	}
}
