.product-del-favorites {
	display: none;
	width: 30px;
	height: 30px;
	img {
		width: 100%;
		height: auto;
	}
}

.favorite__button_save {
	display: none;
}
.favor .lk__body {
	@media (max-width:$tablet){
		display: block;
	}
}

.lk {

	&__item {
	}

	&__title {
	}
}
.favorites, .wait {

	.brands-tabs {
		row-gap: 20px;
	}
	.brands-tabs__button {
		@media (max-width:$tablet){
			width: 46px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 46, 18,0,768,320); 
		}
		svg {
			width: 100%;
			height: auto;
		}
	}
	.brands-tabs form {
		@include adaptiveValue("width", 690, 300,0,1540,1001.98);
		@media (max-width:$tablet){
			flex: 1 0 ;
		}
	}

	.brands-tabs__content {
		margin-top: 0;
	}

	.product:hover {
		cursor: initial;
		box-shadow: none;
	}

	&__actions {
		
		&._change-button-favorites {
			.favorite__button_redaction {display: none;}
			.favorite__button_save {display: flex;}
		}
		@media (max-width:$tablet){
			flex: 0 0 100%;
		}

		& .favorite__button span {
			font-size: 14px;
			@media (max-width:$tablet){
				font-size: 22px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 28, 16,0,768,320); 
			}
		}
	}

	.main-catalog__wrapper {
		grid-template-columns: repeat(4,1fr);
		gap: 20px;
		@media (max-width:em(1100)){
			grid-template-columns: repeat(3,1fr);
		}
		@media (max-width:$mobile){
			 grid-template-columns: repeat(2,1fr); 
		}
		@media (max-width:$mobileSmall){
			 gap: 10px; 
		}
	}
	& .list .main-catalog__wrapper {
			grid-template-columns: repeat(3,1fr);
			gap: 20px;
			@media (max-width:$pcSmall){
				grid-template-columns: repeat(2,1fr);
			}
			@media (max-width:$mobile){
				grid-template-columns: repeat(1,1fr); 
		}
	}
	
	.tabs__content {
		margin-left: 0;
		margin-right: 0;
	}
	.brands-tabs__navigation {
		@media (max-width:$mobile){
			 display: block; 
		}
	}
}

.brands-tabs {

	&__navigation {
		.favorites &, .wait & {
			margin-bottom: 0;
		}
	}

	
}


.header-center {

	&__form {
	}

	&__input {
		.favorites &, .wait & {
			@media (max-width:$tablet){
				font-size: toRem(24);
				padding: 20px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 28, 16,0,768,320); 
			}
			@media (max-width:$mobileSmall){
				 padding: 10px; 
			}
		}
	}

	&__button {
		.favorites &, .wait & {
			@media (max-width:$tablet){
				width: 50px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("width", 50, 28,0,768,320); 
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
.input {
}
.search-button {
}
.img-search-small {
}
.favorite {

	&__button {
		gap: 10px;
		padding-inline: 10px;
		
		&_redaction {
		}

		&_save {
			@media (max-width:$tablet){
				width: initial;
				align-items: center;
			}
		}
	}

	&__img {
		display: flex;
		align-items: center;
		@media (max-width:$tablet){
			width: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 24, 12,0,768,320); 
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
.button-light {
}
.tile {
}
.main-catalog {

	&__wrapper {
	}
}
.product {

	&__actions {
		.wait &._button-del, .favorites &._button-del {
			.product__action {display: none;}
			.product-del-favorites {display: block;}
		}

	}

	&__action {
	}

	&__favorite {
	}
}





.box {
	._redaction-yes & {
		cursor: move;
		animation: tilt-shaking 0.2s linear infinite;
		a {cursor: move;}
	}
 }

 @keyframes tilt-shaking {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(0.5deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-0.5deg); }
	100% { transform: rotate(0deg); }
 }

 .background-class {
	background: $knopka-rozovaya;
	opacity: 0.5;
 }

	.lk ._redaction-yes .product,
	.lk ._redaction-yes .product .product__seil {
	cursor: move;
 }