.lk {

	&__item {
	}

	&__title {
		.current & {
			@media (min-width:$mobile){
				 margin-bottom: 15px; 
			}
		}
	}
}
.history {
	border-bottom: 1px solid #EEDCE1;
	&:not(:last-child) {margin-bottom: toRem(40);}
	padding-bottom: 40px;
	@media (max-width:$tablet){
		padding-bottom: 30px;
	}
	@media (max-width:$mobile){
		 @include adaptiveValue("padding-bottom", 60, 30,0,768,320); 
	}
	&__title {
		font-weight: 300;
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 15px;
		@media (max-width:$tablet){
			font-size: 35px;
		}
		@media (max-width:$mobile){
			margin-bottom: 20px;
			 @include adaptiveValue("font-size", 40, 19,0,768,320); 
		}
	}

	&__top {
		display: flex;
		gap: 20px;
		align-items: center;
		&:not(:last-child) {margin-bottom: toRem(50);}
		@media (max-width:$tablet){
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
		@media (max-width:$mobileSmall){
			 row-gap: 10px; 
		}
	}

	&__progress {
		&:not(:last-child) {margin-bottom: toRem(30);}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__structure {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
		margin-bottom: 20px;
		@media (max-width:$pcSmall){
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
	}

	&__bottom {
	}

	&__info {
	}

	&__actions {
	}

	&__button {
		@media (min-width:$mobile){
			 width: 370px; 
		}
	}
}
.current {
}
.top-history {

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 16px;
		background: #FFF;
		padding: 14px toRem(10);
		@media (min-width:$tablet){
			 width: 370px; 
		}
	}

	&__data {
		text-transform: uppercase;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			font-weight: 500;
			 @include adaptiveValue("font-size", 28, 15,0,768,320); 
		}
		&_text {
		}

		&_number {
		}
	}
}

.product {
	.structure & {
		&:hover{
			box-shadow: initial;
		}
	}
	&__img {
		.structure & {
			// aspect-ratio: 1 / 1;
			align-self: center;
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&__quantity {
		display: grid;
		place-items: center;
		position: absolute;
		top: 10px;
		width: 41px;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		background-color: #FFF1F4;
		@media (max-width:$tablet){
			font-size: 16px;
			width: 48px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("width", 68, 45,0,768,320);
			 @include adaptiveValue("font-size", 20, 12,0,768,320); 
		}
	}
}

.bottom-history {
	margin-bottom: 20px;
	display: grid;
	gap: 20px;
	
	@media (min-width:$tablet){
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
	@media (max-width:$tablet){
		grid-template-columns: 1fr;
	}
	@media (max-width:$mobileSmall){
		 gap: 10px; 
	}

	&__item {
		display: grid;
		grid-template-columns: 35% 60%;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$tablet){
			justify-content: initial;
		}
	}

	&__title {
		padding: 14px toRem(10);
		font-weight: 500;
		text-transform: uppercase;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 15,0,768,320); 
		}
	}

	&__data {
		padding: 14px toRem(10);
		border-radius: 16px;
		background: #fff;
		text-transform: uppercase;
		.bottom-history__discount {
			@media (max-width: em(860)){
				display: none;
			}
		}
		@media (max-width:$tablet){
			font-size: 20px;
			width: fit-content;
		}
		@media (max-width:$mobile){
			width: initial;
			 @include adaptiveValue("font-size", 28, 15,0,768,320); 
		}
		&_bold {
			font-weight: 500;
			span {font-weight: 400;}
		}
		&_received {
			background: #DBFFCE;
		}
		&_cancelled {
			background: #FFD3D3;
		}
	}

	&__discount {
		text-transform: initial;
		@media (max-width:em(860)){
			display: block;
			padding-left: 0;
			@include adaptiveValue("font-size", 22, 13,0,860,320);
		}

		&_mobile {
			margin-top: 20px;
			grid-column: 1 / 3;
			@media (max-width:$mobileSmall){
				 margin-top: 10px; 
			}
			@media (min-width:em(860)){
				display: none;
			}
		}
	}
}
.info-order {
	margin-bottom: 20px;
	.spollers__title {
		cursor: pointer;
		gap: 10px;
		align-items: center;
		@media (min-width:$mobileSmall) and (max-width:$mobile){
			 gap: 20px; 
		}
	}
	&__arrow {
		width: 10px;
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 16, 8,0,768,320); 
		}
		img {
			transition: transform 0.5s;
			width: 100%;
			height: auto;
			transform: rotate(0deg);
			._spoller-active & {
				transform: rotate(90deg);
			}
		}
	}

	&__title {
		font-weight: 500;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 15,0,768,320); 
		}
	}

	&__body {
		margin-top: 24px;
		padding: 18px toRem(10);
		border-radius: 16px;
		background: #FFF;
	}

	&__item {
		display: grid;
		// justify-content: space-between;
		&:not(:last-child) {margin-bottom: toRem(10);}
		@media (min-width:$mobileSmall){
			&:not(:last-child) {margin-bottom: toRem(10);}
			grid-template-columns: 35% 65%;
		}
		@media (max-width:$mobile) {
			grid-template-columns: 55% 40%;
		}
		@media (max-width:$tablet){
			font-size: 20px;
			row-gap: 10px;
		}
		@media (max-width:$mobile){
			&:not(:last-child) {margin-bottom: toRem(20);}
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}

		&_adress {
			@media (max-width:$mobile){
				 grid-template-columns: 1fr; 
			}
		}
	}

	&__text {
	}
}
.spollers {

	&__item {
	}

	&__title {
	}
}
.answer {

	&__form-item {
	}
}
.button-actions {
}
.button-light {
}
