#change-phone {
	.popup__text {
		text-align: left;
		margin-bottom: 40px;
	}
}

#add-document, #change-password, 
#where-order, #add-lk-list, 
#lk-list-item-del {
	text-align: initial;
}

#where-order {
	.where__progress-container {
		@media (min-width:$mobile){
			 flex: 0 0 100%; 
		}
	}

	.where__data {
		display: block;
	}

	.data-where__content {
		@media (max-width:$mobile){
			 padding: 0px;
		}
	}

	.info-where__number,
	.info-where__sub-title,
	.data-where__sub-title,
	.data-where__text,
	.progress__description{
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 25, 13,0,768,320); 
		}
	}
	.progress__description {
		@media (min-width:$mobile){
			transform: translate(0);
		}
		// top: -2px;
	}

	.popup__wrapper {
		margin-top: 20px;
	}
	.data-where__item {
		gap: 10px;
	}
	.data-where__time {
		@media (max-width: 57.5em){
			flex: 0 0 30%;
		}
	}
	.info-where__details {
		grid-template-columns: 1fr 1fr;
		@media (max-width:$tablet){
			grid-template-columns: 1fr;
		}
		
		@media (max-width:$mobile){
			 gap: 0; 
		}
	}
	.data-where__text {
		@media (max-width:57.5em) and (min-width:$mobile){
			min-width: 420px; 
		}
	}
}

#add-lk-list {
	.popup__title {
		margin-bottom: 40px;
	}
}

#lk-list-name {
	.popup__title {
		margin-bottom: 40px;
	}
}