.guest.otlivant .question-block {
	display: none;
}

// изменение стилей из других страниц на этой странице
.otlivant {
	& .recently {
		margin-top: 40px;
	}
	.spollers__title {
		align-items: center;
	}

	.tabs__show-all {
		@media (max-width:$mobile){
			 display: none; 
		}
	}
	.tabs__shell {
		@media (max-width:$mobile){
			 display: contents; 
		}
	}
	.feedback__write {
		// display: block;
	}

	//отзыв. переношу мобильные стили отзыва в пк стили 
	//карточки отливанта

	.feedback__content {
		height: 100%;
		@media (min-width:$mobileSmall){
			row-gap: 10px; 
			// display: block;
		}
	}

	.feedback__top {
		@media (min-width:$mobile){
			flex-direction: row;
			justify-content: space-between; 
		}
	}

	.feedback__name {
		@media (min-width:$tablet){
			 font-size: 14px; 
		}

	}
	.feedback__date {

	}

	.feedback__star-item {
		@media (min-width:$tablet){
			//  width: 20px; 
		}
	}

	.feedback__text-wrapper {
		@media (min-width:$tablet){
			height: 84px;
			overflow-y: hidden;
		}
		@media (max-width:$tablet){
			 height: 167px;
			 overflow-y: hidden;
		}
	}

	.feedback__text {
		line-height: normal;
		// display:none;
		@media (min-width:$mobile){
			// min-height: 83px;
		}
	}

	.feedback__write {
		@media (min-width:$mobile){
			 font-size: 14px; 
		}
	}
	.question-block {
		margin-top: auto;
		@media (min-width:$mobile){
			display: flex;
			flex-direction: column; 
			row-gap: 5px;
		}
		&__text {
			
		}
		&__text-light {
			@media (min-width:$mobile){
				 order: 1;
				 display: block;; 
			}
		}

		&__answers {
			margin-top: 0;
		}

		&__button {
			font-size: 12px;
			@media (max-width:$tablet){
				font-size: 20px;
			}
			@media (max-width:$mobile){
				@include adaptiveValue("font-size", 28, 14,0,768,320); 
			}
		}
	}
}

//основная секция
.otlivant {

	&__product {
		margin-bottom: 40px;
	}
}
.otliv {

	&__top {
		margin-bottom: 20px;
		.product__subtext {
			font-size: 16px;
			font-weight: 300;
			line-height: normal;
			@media (max-width:$tablet){
				font-size: 18px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 22, 13,0,768,320); 
			}
		}
	}

	&__title {
		font-size: 30px;
		font-weight: 300;
		line-height: normal;
		&:not(:last-child) {margin-bottom: toRem(10);}
		span {
			font-weight: 400;
		}
		@media (max-width:$mobileSmall){
			 font-size: toRem(28); 
		}
		@media (max-width: em(360)){
			font-size: 22px;
		}
	}

	&__number {
	}

	&__wrapper {
		// display: flex;
		display: grid;
		gap: 20px;
		grid-template-columns: 40.909091% 1fr;
		@media (max-width:$tablet){
			grid-template-columns: 48.871332% 1fr;
		}
		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
	}

	&__da {
		grid-column:1 / 3;
		@media (max-width:$mobile){
			 grid-column: 1 / 2; 
		}
		@media (min-width:$tablet){
			 display: none; 
		}
	}
	&__left {
		// flex: 0 0 50%;
		display: flex;
		outline: 1px solid  rgb(89, 0, 255);
		// display: grid;
		// visibility: hidden;
		// display: none;
	}

	&__wrap {
		width: 100%;
		width: 75%;
		&_thumb {
			// flex: 0 0 25%;
			width: 25%;
			@media (max-width:$mobile){
				 display: none; 
			}
		}
	}

	&__slider-main {
	}

	&__wrapper-main {
	}

	&__slide-main {
	}

	&__slider-thumbs-wrap {
		position: relative;
		display: flex;
		row-gap: 20px;
		flex-direction: column;
		& button {
			z-index: 20;
			left: 50%;
			transform: translateX(-50%);
			// position: relative;
			// top: 0;
			// left: 0;
			// display: none;
		}
		.swiper-next {
			bottom: -20px;
			right: 0;
			top: initial;
		}
		.swiper-prev {
			top: -20px;
		}
	}

	&__slider-thumbs {
		height: 600px;
	}

	&__wrapper-thumbs {
		// display: flex;
		// display: grid;
		// flex-direction: column;
	}

	&__slide-thumbs {
	}

	&__content {
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__actions {
	}

	&__pos {
	}
}
// .product {

// 	&__subtext {
// 	}
// }
// .swiper {
// }
// .swiper-wrapper {
// }
// .swiper-slide {
// }
// .otlivant-photo-pagination {
// }
// .pagination {
// }
// .swiper-prev {
// }
// .otlivant-thumbs-prev {
// }
// .swiper-next {
// }
// .otlivant-thumbs-next {
// }
.actions-otliv {
	display: inline-flex;
	align-items: flex-start;
	gap: 25px;
	&:not(:last-child) {margin-bottom: toRem(40);}
	@media (max-width:$mobile){
		 display: flex;
		 flex-direction: column; 
	}
	&__info {
		display: flex;
		flex-direction: column;
 		@media (max-width:$mobile){
			 width: 100%;
			 flex: 0 0 100%; 
		}
	}

	&__title {
		margin-bottom: 15px;
	}
	
	&__cost {
		position: relative;
		width: max-content;
		&:not(:last-child) {margin-bottom: toRem(37);}
	}

	&__available {
		display: inline-flex;
		align-items: center;
		column-gap: toRem(10);
	}

	&__buttons {
		button {
			&:not(:last-child) {margin-bottom: toRem(20);}
			@media (max-width:$mobile){
				 width: 100%; 
			}
			@media (max-width: em(360)){
				&:not(:last-child) {margin-bottom: toRem(10);}
			}
		}
		@media (max-width:$mobile){
			 flex: 0 0 100%;
			 width: 100%; 
		}
	}
	&__button {
		@include adaptiveValue("width", 240, 160,0,1920,768);
		@media (max-width:$tablet){
			@include adaptiveValue("font-size", 22, 15,0,1001,768.01);
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 35, 16,0,768,320); 
		}
		display: grid;
		place-items: center;
		text-transform: uppercase;
		padding-top: 12px;
		padding-bottom: 12px;
		line-height: normal;
		transition: background-color 0.3s, color 0.3s;
		&_cart {
			color: white;
			background-color: $knopka-bordovaya;
			@media (any-hover: hover){
				&:hover{
					// color: $knopka-bordovaya;
					// background-color: #fff;
				}
			}
		}

		&_cost {
			border:1px solid $knopka-bordovaya;
			color:$knopka-bordovaya;
			@media (any-hover: hover){
				&:hover{
					// color: white;
					// background-color: $knopka-bordovaya;
				}
			}
		}
	}
}

.cost-otliv {
	display: inline-block;
	@media (max-width:$mobile){
		 display: block;
		 width: 100%;
	}
	&__grand {
		font-size: 33px;
		font-weight: 500;
		line-height: normal;
		@media (max-width:$tablet){
			font-size: 35px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 45, 20,0,768,320); 
			 display: flex;
			 justify-content: space-between;
		}
	}

	&__costs {
		@media (max-width:$mobile){
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			padding: 20px;
			border: 1px solid rgba(214, 187, 195, 0.50);
			background: #FFF;
			& > * {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		@media (max-width:$mobileSmall){
			 padding: 10px; 
		}
	}
	&__number {
		@media (max-width:$mobile){
			 margin-left: auto; 
		}
	}

	&__legend {
		// text-decoration-line: none;
		@media (min-width:$mobile){
			 display: none; 
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}
	&__none {
		position: absolute;
		right: 0;
		top: -40%;
		// text-decoration-line: line-through;
		@media (max-width:$mobile){
			 position: relative;
			 right: initial;
			 left: 0; 
		}
	}

	&__discount {
		@media (min-width:$mobile){
			 display: none; 
		}
	}

	&__discount-number {
			font-weight: 500;
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 28, 13,0,768,320);
				 margin-left: auto;
			}
	}

	&__none-number {
		font-size: 16px;
		font-weight: 300;
		line-height: normal;
		text-decoration-line: line-through;
		@media (max-width:$tablet){
			font-size: 18px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320);
			 margin-left: auto;
		}
	}

	&__bonus {
		position: absolute;
		left: 0;
		top: 100%;
		color: #207F24;
		font-family: Roboto;
		font-weight: 500;
		line-height: normal;
		@media (max-width:$tablet){
			font-size: 18px;
		}
		
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 13,0,768,320);
			 position: relative;
			 top: 0;
			 left: 0;
			 .cost-otliv__legend {
				color: initial;
				font-weight: 400;
			 }
		}
	}

	&__bonus-number {
		
	}
}
.available-block {
	
	&__text {
		font-size: 16px;
		font-weight: 300;
		@media (max-width:$pcSmall){
			font-size: 14px;
		}
		@media (max-width:$tablet){
			font-size: 18px;
		}
		@media (max-width:$mobile){
			font-weight: 400;
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
		// line-height: normal;
	}

	&__circle {
	}
}
.circle-available {
	display: flex;
	&__punkt {
		display: inline-block;
		width: 16px;
		height: 16px;
		
		border-radius: 100%;
		&:not(:last-child) {
			margin-right: 7px;
		}
		@media (min-width:$mobileSmall) and (max-width:$mobile){
			width: 22px;
			height: 22px;
			&:not(:last-child) {
			  margin-right: 10px;
		  }
	  }
		&_full {
			background-color: #DB888D;
		}

		&_empty {
			background-color: #F5DCDD;
		}
	}
}

.pos-otliv {

	.feedback__spoller-arrow {
		width: 27px;
	}
	&__title {
	}

	&__content {
		padding: 20px;
		display: grid;
		border-radius: 20px;
		background: #FFF;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
		row-gap: 20px;
		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
	}

	&__spollers {
		.feedback__spoller-arrow {
			@media (min-width:$mobile){
				 display: none; 
			}
		}
		.spollers__title {
			margin-bottom: 20px;
		}
		.pos-otliv__title {
			margin-bottom: 0;
		}
	}

	&__item {
		
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
		@media (max-width:$mobile){
			 align-items: flex-start; 
		}
	}

	&__img {
		// width: 80px;
		flex: 0 0 80px;
		@media (max-width:$pcSmall){
			flex-basis: 55px;
		}
		@media (max-width:$tablet){
			flex-basis: 80px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("flex-basis", 70, 45,0,768,320); 
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__info {
	}

	&__text {
		font-style: italic;
		line-height: normal;
		text-decoration-line: underline;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}

	&__brand {
		font-weight: 500;
	}
}


//ОТзывы
.otlvant-review {
	margin-bottom: 40px;

	&__container {
		@media (max-width:$mobile){
			 padding-left: 0;
			 padding-right: 0; 
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		& .button-light {
			.guest.otlivant & {
				// display: none;
			}
			display: inline-block;
			margin: 0;
			width: 22%;
			font-size: 14px;
			@media (max-width:$mobile){
				 display: none; 
			}
		}
	}

	&__title {
		&[class] {
			margin-bottom: 0;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__spollers {
		@media (min-width:$mobile){
			 display: none; 
		}
	}

	&__slide {
		border-radius: 16px;
		padding: 10px;
		background: #FFF;
	}

	.swiper-slide {
		// border: 2px solid red;
	}

	&__slider {
		@media (max-width:$mobile){
			display: contents; 
	  }
	}
	&__wrapper.mobile-min {
		// display: block;
		position: static;
		@media (max-width:$mobile){
			display: contents; 
	  }
	}

	&__button-wrap {
		@media (max-width:$mobile){
			padding-top: 20px;
			background-color: rgb(255, 255, 255); 
		}
	}

	&__spollers {
		summary {
			@media (min-width:$mobile){
				 display: none; 
			}
		}
	}

	&__spoller-title {
		@include adaptiveValue("font-size", 30, 21,0,768,320);
		color: $zagolovok;
		line-height: normal;
		font-weight: 300;
	}

	&__spoller-body {
		@media (max-width:$mobile){
			 margin-top: 20px; 
		}
	}

	&__button {
		width: 71.818182%; /* 316/440 */
		margin:auto;
		margin-bottom: 20px;
		@media (min-width:$mobile){
			 display: none; 
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
	}
}

.otlivant-review-show {

	&__content {
		 @media (max-width:$mobile){
			  display: flex;
		 flex-direction: column;
		 row-gap: 20px;  
		 }
	}
}

.otlivant-article {

	&__container {
		// padding-left: 0;
		// padding-right: 0;
	}
}

.review-otlivant-pagination {
	@media (max-width:$mobile){
		 display: none; 
	}
}

