.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		position: relative;
		@media (max-width: em(1001)) {
			position: fixed;
			width: 59%; /* 590/1000 */
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			background-color: $knopka-rozovaya;
			padding: toRem(70) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;
			z-index: 2;
			@media (max-width:$mobile){
				width: 92.447917%; /* 710/768 */
			}
			&::before {
				content: "";
				position: fixed;
				width: 59%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				background-color: $knopka-rozovaya;
				@media (max-width:$mobile){
					width: 92.447917%; /* 710/768 */
				}
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		@media (min-width:$tablet){
			 flex-wrap: wrap; 
		}
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("column-gap", 55, 15,0,1920,1001);
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
		}
		.footer & {
			align-items: flex-start;
			@media (max-width: em(1150)){
				display: grid;
				grid-template-columns: repeat(4,1fr);
				grid-template-rows: 1fr 1fr;
				row-gap: 20px;
			}
			@media (max-width:$mobile){
				 grid-template-columns: 1fr 1fr;
				 grid-template-rows: auto;
				 li {
					align-self: center;
				 }
			}
		}
	}

	&__sublist {
		position: absolute;
		padding: toRem(30) toRem(10) toRem(30) toRem(10);
		// height: 440px;
		// width: 100vw;
		top: 110%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		// transition: top 0.3s, height 0.5s, transform 0.3s;
		transition: all 0.2s;
		@media (max-width:$tablet){
			  
		}
		.footer & {
			position: relative;
			top: 0;
			opacity: 1;
			visibility: visible;
			padding: 0;
			margin-top: toRem(25);
			@media (max-width:em(1150)){
				display: none;
			}
			@media (min-width:em(1151)){
				  margin-bottom: toRem(50);
			}
		}
		& a {
			white-space: nowrap;
		}
		
		&_grid {
			@media (min-width:$tablet){
				display: grid;
				// grid-template-columns: repeat(4,1fr);
				grid-template-rows: repeat(4,1fr);
				grid-auto-flow: column;
				column-gap: toRem(55);
				row-gap: toRem(25);
				.footer & {
					display: block;
					@media (max-width: em(1150)){
						display: none;
					}
				}
			}
		}
		@media (max-width:$tablet){
			padding-left: 20px;
			padding-bottom: toRem(0);
			// transform: scale(0);
			// height: 0;
			transform: translateY(-50%);
			// transition: height 1.3s;
			&._sub-menu-open {
				position: relative;
				visibility: visible;
				opacity: 1;
				// height: 100%;
				transform: translateY(0%);
				// transform-style: flat;
				// transform: scale(1);
			}
		}
		&::after{
			content:'';
			position: absolute;
			top: 0;
			box-shadow: 0 25px 94px 0 rgba(107, 20, 47, 0.3);
			width: 100000vw;
			height: 100%;
			left: -10000%;
			background: white;
			z-index: 0;
			.footer & {
				z-index: -1;
			}
			@media (max-width:$tablet){
				display: none;
			}
		}
	}

	// .menu__item
	&__item {
		position: relative;
		padding: toRem(19) toRem(0);
		transition: background-color 0.3s;
		@media (max-width:$tablet){
			// display: flex;
			// align-items: center;
			width: 100%;
		}
		.header &:hover{
			@media (min-width:$tablet){
				background-color: white;
				// @media (min-width:$tablet){
					& .sublist-menu__item {
					  // @media (min-width:$tablet){
						  position: relative;
						  z-index: 2; 
				  //   }
					// } 
			  }
				& .menu__link {
					color: $zagolovok;
				}
				& .menu__sublist {
					top: 100%;
					opacity: 1;
					visibility: visible;
					// background-color: white;
					// box-shadow: 0 25px 94px 0 rgba(107, 20, 47, 0.3);
				} 
			}
		}
	}
	// .menu__link
	&__link {
		@media (max-width: em(1001)) {
			display: flex;
			align-items: center;
			column-gap: toRem(40);
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: em(1001)) {
		display: block;
		position: relative;
		width: toRem(70);
		height: toRem(45);
		z-index: 5;
		@media (max-width:$tablet){
			width: toRem(50);
			height: toRem(27);
		}
		@media (max-width:$mobile){
			 width: toRem(70);
			 height: toRem(45); 
		}
		@media (max-width:$mobileSmall){
			 width: toRem(40);
			 height: toRem(30); 
		}
		.menu-open & {
			position: absolute;
			right: 43%;
			@media (max-width:$mobile){
				 right: 10%; 
			}
		}
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(4);
			@media (max-width:$mobile){
				 height: toRem(3); 
			}
			background-color: rgb(127, 32, 59);
			border-radius: 25%;
			.menu-open & {
				background-color: rgb(255, 255, 255);
			}
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
