.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		position: relative;
		@media (max-width: em(1001)) {
			position: fixed;
			width: 59%; /* 590/1000 */
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			background-color: $knopka-rozovaya;
			padding: toRem(70) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;
			z-index: 2;
			@media (max-width:$mobile){
				width: 92.447917%; /* 710/768 */
			}
			&::before {
				content: "";
				position: fixed;
				width: 59%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				background-color: $knopka-rozovaya;
				@media (max-width:$mobile){
					width: 92.447917%; /* 710/768 */
				}
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		// padding: toRem(19) toRem(0);
		@include adaptiveValue("column-gap", 55, 15,0,1920,1001);
		@media (max-width: em(1001)) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__sublist {
		position: absolute;
		padding: toRem(30) toRem(0) toRem(275) toRem(0);
		// height: 440px;
		// width: 100vw;
		top: 110%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: top 0.3s;
		& a {
			white-space: nowrap;
		}
		&::after{
			content:'';
			position: absolute;
			top: 0;
			box-shadow: 0 25px 94px 0 rgba(107, 20, 47, 0.3);
			width: 100000vw;
			height: 100%;
			left: -10000%;
			// background: $knopka-rozovaya;
			z-index: -1;
			@media (max-width:$tablet){
				display: none;
			}
		}
		&_grid {
			
			display: grid;
			// grid-template-columns: repeat(4,1fr);
			grid-template-rows: repeat(4,1fr);
			grid-auto-flow: column;
			column-gap: toRem(55);
			row-gap: toRem(25);
			
		}
		@media (max-width:$tablet){
			padding-left: 20px;
			padding-bottom: toRem(0);
			._sub-menu-open ._open & {
				position: relative;
				visibility: visible;
				opacity: 1;
			}
		}
	}

	// .menu__item
	&__item {
		position: relative;
		padding: toRem(19) toRem(0);
		transition: background-color 0.3s;
		@media (max-width:$tablet){
			// display: flex;
			// align-items: center;
			width: 100%;
		}
		&:hover{
			@media (min-width:$tablet){
				background-color: white;
				& .menu__link {
					color: $zagolovok;
				}
				& .menu__sublist {
					top: 100%;
					opacity: 1;
					visibility: visible;
				} 
			}
		}
	}
	// .menu__link
	&__link {
		@media (max-width: em(1001)) {
			display: flex;
			align-items: center;
			column-gap: toRem(40);
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: em(1001)) {
		display: block;
		position: relative;
		width: toRem(70);
		height: toRem(45);
		z-index: 5;
		@media (max-width:$mobile){
			 width: toRem(40);
			 height: toRem(27); 
		}
		@media (max-width:$mobileSmall){
			 width: toRem(30);
			 height: toRem(20); 
		}
		.menu-open & {
			position: absolute;
			right: 43%;
			@media (max-width:$mobile){
				 right: 10%; 
			}
		}
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(4);
			@media (max-width:$mobile){
				 height: toRem(3); 
			}
			background-color: rgb(127, 32, 59);
			border-radius: 25%;
			.menu-open & {
				background-color: rgb(255, 255, 255);
			}
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
