body::after {
	content: "";
	background-color: rgba(137, 120, 125, 0.45);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
	@media (max-width: $mobile) {
		background-color: #59494c;
	}
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	
	@media (max-width: $mobile) {
		padding: 30px;
	}
	@media (max-width: $mobileSmall) {
		padding: 20px;
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
	
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	// align-items: center;
	@media (min-width: $mobile) {
		padding-top: toRem(100);
	}
}

.popup__body {
	
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: white;
	border: 1px solid $tekst-zagolovok-ne-aktivnyy;
	padding: 20px;
	width: 100%;
	@media (max-width: $mobile) {
		max-width: initial;
		// height: 100dvh;
		#city & {
			height: auto;
		}
	}
	#vhod-tel &, #vhod-tel-vvod & {
		max-width: 353px;
	}
	#thanks & {
		max-width: 630px;
	}
	#popup-feedback & {
		max-width: 740px;
	}
	#city & {
		max-width: 840px;
	}
	#advanced-search & {
		max-width: 1230px;
	}
	#store-review & {
		max-width: 680px;
		overflow: hidden;
	}
	#product-review & {
		max-width: 680px;
	}
	#description-popup & {
		max-width: toRem(820);
	}
	max-width: 340px;
	border-radius: 10px;
	position: relative;
	.lock & {
		visibility: visible;
	}
}

/*регистрация */

.popup {
	&__wrapper {
		#filters-main &, #review-filters &, #filters-otlivant &,
		#filters-otlivant &, #review-product-filters & {
			height: 100%;
		}
	}

	&__content {
		#filters-main &, #review-filters &, #filters-otlivant &,
		#review-product-filters &, #review-product-filters &,
		#filters-otlivant & {
			padding: 0;
			// min-height: 1340px;
			box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.25);
			background-color: #fff;
			border-radius: 20px;
			border: 1px solid rgba(214, 187, 195, 0.50);
			position: relative;
			overflow-x: hidden;
			overflow-y: hidden;
			height: 100%;
			// height: 100%;
			&._overflow-y {
				border-radius: 20px 0 0 20px;
				// overflow: initial;
				overflow-y: auto;
				// border-radius: 20px 0 0 20px;
				@include scroll-view;
			}
		}
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 20px;
		height: 20px;
		z-index: 101;
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 50, 18,0,768,320); 
		}
		img {
			width: 100%;
		}
	}

	&__title {
		font-weight: 300;
		font-size: 24px;
		text-transform: uppercase;
		line-height: normal;
		color: $zagolovok;
		margin-bottom: 40px;
		#popup-feedback & {
			margin-bottom: 25px;
		}
		#product-review & {
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 54, 24,0,768,320); 
			}
		}
	}

	&__form {
		#vhod-tel & {
			margin-bottom: toRem(20);
		}
		#vhod-tel-vvod & {
			margin-bottom: 10px;
		}
	}

	&__text-feedback {
		margin-bottom: toRem(40);
	}

	&__form-item-group {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		@media (max-width:$mobile){
			 flex-direction: column;
			 @include adaptiveValue("gap", 84, 40,0,768,320);
			 @include adaptiveValue("margin-bottom", 84, 40,0,768,320);
		}
		& div.popup__form-item {
			margin-bottom: 0;
		}
		.popup__form-item_fio-order {
			flex: 0 0 60%;
			@media (max-width:$mobile){
				 flex: 0 0 100%; 
			}
		}
	}

	&__form-item {
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: toRem(4);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		#reg & {
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}
		#product-review & {
			// &:not(:last-child) {margin-bottom: toRem(40);}
		}

		#vhod-tel & {
			&:not(:last-child) {margin-bottom: toRem(50);}
		}

		#store-review & {
			&:not(:last-child) {margin-bottom: toRem(50);}
		}
		#product-review & {
			// display: block;
			@media (max-width:$mobileSmall){
				 &:not(:last-child) {margin-bottom: toRem(20);}
			}
		}
		#product-review  & {
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 35, 22,0,768,320); 
			}
		}
	}

	&__input-wrapper {
		position: relative;
	}
	&__input {
		border: 1px solid #c7c7c7;
		width: 100%;
		border-radius: 3px;
		padding: 16px 10px;
		background-color: #fafafa;
		transition: background-color 0.3s;
		&:active {
			background-color: white;
		}
	}

	&__img-pasword {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__img-v {
		._pass-view & {
			display: none;
		}
	}

	&__img-nv {
		display: none;
		._pass-view & {
			display: block;
		}
	}

	&__checkbox {
		#reg & {
			margin-bottom: toRem(10);
		}
		.checkbox__text {
			font-size: toRem(11);
			a {
				text-decoration: underline;
			}
		}
	}
	&__mini-button {
		font-size: 13px;
		text-decoration: underline;
		text-align: right;
		color: $tekst-zagolovok-ne-aktivnyy;
		transition: color 0.3s;
		align-self: flex-end;
		&:hover {
			color: $knopka-bordovaya;
		}
	}

	&__reg-top {
		position: relative;
		margin-bottom: toRem(60);
		transition: transform 0.3s;
		& h4 {
			margin-bottom: 0;
		}
		#store-review & {
			&._to-top {
				transform: translateY(-50px);
			}
		}
	}

	&__actions {
		position: absolute;
		top: 100%;
		display: flex;
		align-items: flex-end;
		gap: toRem(8);
		span {
			color: $zagolovok;
			font-style: italic;
			font-size: 12px;
			text-transform: initial;
			font-weight: 400;
		}
	}

	&__input-wrap {
		position: relative;
	}

	&__label {
		position: absolute;
		font-size: 16px;
		text-transform: uppercase;
		// color: $zagolovok;
		// bottom: 105%;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		color: rgba(0, 0, 0, 0.5);
		transition: top 0.15s, left 0.15s;
		._label-up & {
			top: -20%;
			left: 0;
			color: $zagolovok;
			#product-review  &.textarea-big {
				top: -10%;
			}
		}
		textarea + & {
			top: 16px;
			transform: none;
		}
		#product-review & {
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 37, 20,0,768,320); 
			}
		}
	}

	&__text {
		line-height: 114.285714%; /* 16/14 */
		span {
			font-weight: 500;
		}
		a {
			font-weight: 500;
			text-decoration: underline;
		}
		#vhod-tel & {
			margin-top: 10px;
		}
		#add-tel & {
			margin-bottom: 40px;
		}
		#description-popup & {
			max-height: 600px;
			overflow-y: auto;
			@include scroll-view;
		}
	}

	&__button {
		display: grid;
		align-items: center;
		justify-content: center;
		background-color: $knopka-rozovaya;
		#reg &,
		#vhod-tel & {
			opacity: 0.7;
		}
		#reg.done &,
		#vhod-tel.done & {
			opacity: 1;
		}
		font-size: 24px;
		line-height: 1.26;
		padding-top: 12.5px;
		padding-bottom: 12.5px;
		text-transform: uppercase;
		color: #fff;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		transition:
			color 0.3s,
			background-color 0.3s;
		@media (any-hover: hover){
			&:hover{
				color: #fafafa;
				background-color: $knopka-bordovaya;
			}
		}
		&_white {
			background-color: rgb(255, 255, 255);
			color: $knopka-rozovaya;
			border: 1px solid $knopka-rozovaya;
			&:hover {
				background-color: $knopka-bordovaya;
				color: white;
			}
		}

		#product-review & {
			width: 60%;
			margin:auto;
			@media (max-width:$mobile){
				 width: 100%; 
				 @include adaptiveValue("font-size", 48, 22,0,768,320);
			}
		}
	}

	&__entry {
		// display: flex;
		// flex-direction: column;
		input {
			display: inline-block;
			border: 1px solid #c7c7c7;
			width: 40px;
			height: 40px;
		}
	}

	&__form-item {
	}

	&__input-wrapper-tel {
		display: flex;
		justify-content: center;
	}
	&__title-entry-tel {
		flex: 0 0 100%;
		display: block;
		margin-top: toRem(20);
		margin-bottom: toRem(10);
		font-size: 16px;
		text-transform: uppercase;
		color: $zagolovok;
	}

	&__item-group {
		margin-bottom: toRem(40);
	}

	&__length {
		font-style: italic;
	}

	&__star {
		color: $knopka-bordovaya;
	}

	&__correction {
		color: #494949;
	}

	&__location {
		margin-top: 20px;
		margin-bottom: 20px;
		a {
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: #7f213c;
		}
	}

	&__select-arrow {
		display: flex;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
	}

	&__submenu {
		position: absolute;
		top: 100%;
		border: 1px solid #c7c7c7;
		background-color: #fafafa;
		border-radius: 0 0 3px 3px;
		width: 100%;
		z-index: 2;
		padding: 10px;
		display: none;
		opacity: 0;
		visibility: hidden;
		&._popup-submenu-open {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}

	&__submenu-item {
		cursor: pointer;
		&:not(:last-child) {margin-bottom: toRem(15);}
	}

	&__upload {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;
		input {
			position: absolute;
			width: 100%;
			height: 100%;
			cursor: pointer;
			z-index: 2;
			opacity: 0;
		}
		@media (max-width:$mobileSmall){
			 margin-top: 0; 
		}
	}

	&__img-upload {
		display: flex;
	}

	&__img-add {
		width: 80px;
		height: 80px;
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 150, 70,0,768,320); 
			 @include adaptiveValue("height", 150, 70,0,768,320); 
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__button-add {
		order: 1;
	}

	&__photo-container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		@media (max-width:$mobile){
			 gap: 10px; 
		}
	}

	&__photo-img {
		position: relative;
		width: 80px;
		height: 80px;
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 150, 70,0,768,320); 
			 @include adaptiveValue("height", 150, 70,0,768,320); 
		}
	}

	&__img-review {
		width: 100%;
		height: auto;
		aspect-ratio: 1 / 1;
		border-radius: 16px;
		// overflow: hidden;
	}

	&__img-close {
		position: absolute;
		cursor: pointer;
		right: -9px;
		top: -9px;
		width: 18px;
		height: 18px;
	}

}

//Табы: выбор города

.popup {
	&__tabs {
	}
}
.popup-tabs {
	&__navigation {
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
	}

	&__title {
		position: relative;
		text-transform: uppercase;
		font-weight: 300;
		@include adaptiveValue("font-size", 24, 18, 0, 1920, 768);
		line-height: 118%; /* 59/50 */
		color: $tekst-zagolovok-ne-aktivnyy;
		&._tab-active {
			color: #7f203b;
			&::after {
				content: "";
				background-color: $zagolovok;
				position: absolute;
				width: 100%;
				height: 1px;
				top: 105%;
				left: 0;
				z-index: 0;
			}
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 35, 22, 0, 768, 440);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 25, 0, 1920, 768);
		}
	}

	.first_level_region_item {
		display: flex;
		flex-wrap: wrap;
	}

	.popup-tabs__iteration_break {
		flex: 0 0 25%;
		// outline: 1px solid red;
		@media (max-width: $mobile) {
			flex: 0 0 50%;
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		@media (max-width: $mobileSmall) {
			flex: 0 0 100%;
		}
	}

	.list_region_body {
		display: block;
		cursor: pointer;
		// text-transform: lowercase;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	&__content {
	}

	&__body {
	}

	&__regions {
	}

	&__iteration {
		&_break {
		}
	}
}

.list-group {
}

.first {
	&_level {
	}
}
.list {
	&_region {
	}
}
.bt {
	&_region {
	}
}
.big {
	&_length {
	}
}


//Отзыв о магазине
#store-review {
	.popup__form-item:has(.popup__button){
		display: block;
	}
	.popup__button {
		width: 60%;
		margin:auto;
		@media (max-width:$tablet){
			font-size: 22px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 20,14, 0,768,320); 
		}
	}
}

.comment {
	
	&__textarea {
		padding: 10px;
		line-height: normal;
		resize: none;
		width: 100%;
		border-radius: 3px;
		border: 1px solid #C7C7C7;
		background: #FAFAFA;
		height: 110px;
		&:not(:last-child) {margin-bottom: toRem(5);}
		#product-review & {
			height: 176px;
		}
	}

	&__text {
		font-style: italic;
		line-height: normal;
		&_photo {
			div#product-review & {
				@media (max-width:$mobile){
					 @include adaptiveValue("font-size", 35, 20,0,768,320); 
				}
			}
		}
		#product-review & {
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 25, 13,0,768,320); 
			}
		}
	}

	&__star {
		color: $zagolovok;
	}

	&__number-symbols {
	}

	&__light-text {
		color: #494949;
	}
}

