.otlivant-article {

	&__container {
		@media (max-width:$mobile){
			 padding-left: 0;
			 padding-right: 0;
		}
	}

	&__slider.swiper {
		@media (max-width:$mobile){
			 overflow: initial; 
		}
	}
}