//ОТзывы
.otlvant-review {
	margin-bottom: 40px;
	// .feedback__photo {
	// 	gap: 10px;
	// 	@media (max-width:$tablet) and (min-width:$mobile){
	// 		gap: 13px;
	// 	}
	// }
	// .feedback__photo-img {
	// 	width: 70px;
	// 	@media (max-width:$tablet){
	// 		@include adaptiveValue("width", 130, 90,0,1001.99,768.01);
	// 	}
	// 	@media (max-width:$mobile){
	// 		 @include adaptiveValue("width", 200, 85,0,768,320); 
	// 	}
	// }

	&__container {
		@media (max-width:$mobile){
			 padding-left: 0;
			 padding-right: 0; 
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		flex-wrap: wrap;
		row-gap: 10px;
		@media (max-width:$mobile){
			 margin-bottom: 0; 
		}
		& .button-light {
			.guest & {
				display: none;
			}
			display: inline-block;
			margin: 0;
			width: 22%;
			font-size: 14px;
			@media (max-width:$tablet){
				margin:auto;
				width: 43%;
				@include adaptiveValue("font-size", 22, 18,0,1001.99,768.01);
			}
			@media (max-width:$mobile){
				 display: none; 
			}
		}
	}

	&__title {
		&[class] {
			margin-bottom: 0;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__spollers {
		@media (min-width:$mobile){
			 display: none; 
		}
	}

	&__slide {
		border-radius: 16px;
		padding: 20px;
		background: #FFF;
		@media (max-width:$pcSmall){
			padding: 10px;
		}
	}

	.swiper-slide {
		// border: 2px solid red;
	}

	&__slider {
		@media (min-width:$mobile){
			padding-left: 15px;
			padding-right: 15px; 
		}
		@media (max-width:$mobile){
			display: contents; 
	  }
	}
	&__wrapper.mobile-min {
		// display: block;
		position: static;
		@media (max-width:$mobile){
			display: contents; 
	  }
	}

	&__button-wrap {
		.otlivant-review-show__more {
			@media (max-width:$mobile){
				width: 60%;
				margin:auto;
			}
		}
		@media (max-width:$mobile){
			padding-top: 20px;
			// background-color: rgb(255, 255, 255); 
		}
	}

	&__spollers {
		summary {
			@media (min-width:$mobile){
				 display: none; 
			}
		}
	}

	&__spoller-title {
		// @include adaptiveValue("font-size", 30, 21,0,768,320);
		@include adaptiveValue("font-size", 50, 19,0,768,320);
		color: $zagolovok;
		line-height: normal;
		font-weight: 300;
	}

	&__spoller-body {
		@media (max-width:$mobile){
			 margin-top: 20px; 
		}
	}

	&__button {
		width: 71.818182%; /* 316/440 */
		margin:auto;
		margin-bottom: 20px;
		@media (min-width:$mobile){
			 display: none; 
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
		.guest & {
			display: none;
		}
	}
}

.otlivant-review-show {

	&__content {
		 @media (max-width:$mobile){
			  display: flex;
		 flex-direction: column;
		 row-gap: 20px;  
		 }
	}
}