.otlivant {
	& .recently {
		margin-top: 40px;
	}
	.spollers__title {
		align-items: center;
	}

	.tabs__show-all {
		@media (max-width:$mobile){
			 display: none; 
		}
	}
	.tabs__shell {
		@media (max-width:$mobile){
			 display: contents; 
		}
	}
	.feedback__write {
		// display: block;
	}

	//отзыв. переношу мобильные стили отзыва в пк стили 
	//карточки отливанта

	.feedback__content {
		height: 100%;
		@media (min-width:$mobileSmall){
			row-gap: 10px; 
			// display: block;
		}
	}

	.feedback__top {
		@media (min-width:$mobile){
			flex-direction: row;
			justify-content: space-between; 
		}
	}

	.feedback__name {
		@media (min-width:$tablet){
			 font-size: 14px; 
		}

	}
	.feedback__date {

	}

	.feedback__star-item {
		@media (min-width:$tablet){
			//  width: 20px; 
		}
	}

	.feedback__text-wrapper {
		@media (min-width:$tablet){
			height: 84px;
			overflow-y: hidden;
		}
		@media (max-width:$tablet){
			 height: 167px;
			 overflow-y: hidden;
		}
	}

	.feedback__text {
		line-height: normal;
		// display:none;
		@media (min-width:$mobile){
			// min-height: 83px;
		}
	}

	.feedback__write {
		@media (min-width:$mobile){
			 font-size: 14px; 
		}
	}
	.question-block {
		margin-top: auto;
		@media (min-width:$mobile){
			display: flex;
			flex-direction: column; 
			row-gap: 5px;
		}
		&__text {
			
		}
		&__text-light {
			@media (min-width:$mobile){
				 order: 1;
				 display: block;; 
			}
		}

		&__answers {
			margin-top: 0;
		}

		&__button {
			font-size: 12px;
			@media (max-width:$tablet){
				font-size: 20px;
			}
			@media (max-width:$mobile){
				@include adaptiveValue("font-size", 28, 14,0,768,320); 
			}
		}
	}
}