.page {
	&__products {
		margin-top: toRem(40);
		@media (min-width: $mobileSmall) and (max-width: $pcSmall) {
			margin-top: toRem(60);
		}
	}
}
.products {
	&__container {
	}

	&__tab_da {
		@media (max-width: $mobile) {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 50px;
			& .tabs__show-all {
				display: none;
			}
		}
	}
}

.tabs {
	&__navigation {
		margin-bottom: toRem(20);
		@media (max-width: $mobile) {
			margin-bottom: 30px;
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(20);
		}
	}

	&__title {
		position: relative;
		text-transform: uppercase;
		font-weight: 300;
		@include adaptiveValue("font-size", 24, 18, 0, 1920, 768);
		line-height: 118%; /* 59/50 */
		color: $tekst-zagolovok-ne-aktivnyy;
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 50, 22, 0, 768, 440);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 15, 0, 1920, 768);
		}
		&._tab-active {
			color: $zagolovok;
			&::after {
				content: "";
				background-color: $zagolovok;
				position: absolute;
				width: 100%;
				height: 1px;
				top: 105%;
				left: 0;
				z-index: 0;
			}
		}
		&#tabs01 {
			@media (max-width: $mobile) {
				margin-bottom: 30px;
				margin-left: 15px;
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__content {
		@media (max-width: $mobile) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__body {
		position: relative;
	}

	&__slider {
		padding: 16px;
	}

	&__shell {
		position: relative;
	}

	&__slide {
		// display: flex;
		&:hover {
		}
	}
}


