.actions {
	.recently {
		margin-top: 0;
	}
	&__container {
		margin-bottom: 80px;
	}

	&__content {
		// margin-bottom: 80px;
		@media (max-width: $tablet) {
			//  margin-bottom: 600px;
		}
		@media (max-width: $mobile) {
			margin-bottom: 20px;
		}
	}

	&__title {
		@media (max-width: $mobile) {
			// @include adaptiveValue("font-size", 50, 19, 0, 768, 320);
		}
	}

	&__item {
		display: flex;
		padding: 20px;
		gap: 16px;
		@media (max-width: $tablet) {
			padding: 10px;
		}
		@media (max-width: $mobile) {
			padding: 20px;
		}
		@media (max-width: $mobileSmall) {
			padding: 10px;
		}
		border-radius: 16px;
		background: #ffffff;
		align-items: center;
		@media (max-width: $tablet) {
			gap: 10px;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		@media (max-width: $mobileSmall) {
			row-gap: 0px;
		}
	}

	&__img {
		flex: 0 0 190px;
		@media (max-width: $tablet) {
			// width: 93px;
			flex: 0 0 93px;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("flex-basis", 176, 77, 0, 768, 320);
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__subtitle {
		font-size: 16px;
		line-height: normal;
		@media (max-width: $tablet) {
			font-size: toRem(22);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 35, 16, 0, 768, 320);
		}
	}

	&__text {
		// font-size: 12px;
		line-height: normal;
		&_pc {
			@media (max-width: $tablet) {
				display: none;
			}
		}
		&_tablet {
			@media (min-width: $tablet) {
				display: none;
			}
		}
		@media (max-width: $tablet) {
			font-size: toRem(20);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 28, 14, 0, 768, 320);
		}
	}

	&__link {
		color: $tekst-zagolovok-ne-aktivnyy;
		font-size: 13px;
		line-height: normal;
		text-decoration-line: underline;
		@media (max-width: $tablet) {
			font-size: toRem(20);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 25, 13, 0, 768, 320);
		}
	}
}

.actions {
	&__action {
		display: flex;
		align-items: flex-start;
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
			align-items: center;
			row-gap: 20px;
		}
		@media (max-width: $mobileSmall) {
			row-gap: 10px;
		}
	}
}
.action {
	&__body {
		flex: 0 0 57.792208%; /* 890/1540 */
	}

	&__wrapper {
		margin-bottom: 40px;
		@media (max-width: $mobile) {
			margin-bottom: 60px;
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: 40px;
		}
	}

	&__item {
		border-radius: 16px;
		background: #ffffff;
		padding: 20px;
		@media (max-width:$mobile){
		}
		@media (max-width: $mobileSmall) {
			padding: 10px;
		}
	}

	&__title {
		@media (max-width: $mobile) {
			// @include adaptiveValue("font-size", 50, 19, 0, 768, 320);
		}
	}

	&__text {
		line-height: normal;
		&_italic {
			font-style: italic;
		}
		@media (max-width: $tablet) {
			font-size: toRem(20);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 28, 14, 0, 768, 320);
		}
		span {
			font-weight: 700;
		}
	}

	&__warning {
		margin-top: 20px;
		display: inline-flex;
		align-items: center;
		gap: 10px;
		padding: 10px;
		border-radius: 16px;
		background: #ffd3d3;
		text-transform: uppercase;
		@media (min-width:$mobile){
			 padding-right: 40px; 
		}
		@media (max-width: $mobile) {
			gap: 5px;
			width: 100%;
		}
	}

	&__img {
		@media (max-width: $tablet) {
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__warning-text {
		@media (max-width: $tablet) {
			font-size: toRem(20);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 28, 12, 0, 768, 320);
		}
	}

	&__list {
		padding-left: 20px;
		@media (max-width: $mobile) {
			padding-left: 10px;
		}
	}

	&__punkt {
		list-style: disc;
		line-height: normal;
		ol & {
			list-style: decimal;
		}
		@media (max-width: $tablet) {
			font-size: toRem(20);
		}
		@media (max-width: $mobile) {
			margin-left: 20px;
			@include adaptiveValue("font-size", 28, 14, 0, 768, 320);
		}
		@media (max-width:$mobileSmall){
			 margin-left: 10px; 
		}
	}

	&__black-link {
		text-decoration: underline;
	}
}
.delivery {
	&__link {
		.action & {
			line-height: normal;
		}
	}
}
