.page {

	&__brands {
		background-color: $fon;
	}
}
.brands {

	&__container {
	}

	&__top {
	}

	&__breadcrumbs {
	}

	&__title.brands__title_br {
		// font-size: toRem(36);
		@media (max-width:$mobile){
			// @include adaptiveValue("font-size", 50, 22,0,768,320);
		}
		&_br {
		}
	}

	&__content {
		input {
			border-radius: 12px;
		}
		.header-center__input {
			
			@media (max-width:$tablet){
				padding-left: 3%;
			}
		}
	}
}

.brands-tabs {
	display: flex;
	align-items: center;
	column-gap: toRem(20);
	flex-wrap: wrap;
	// background: rgb(253, 250, 251);
	form {
		width: 758px;
		@media (max-width:$tablet){
			width: 70%; 
			position: relative;
			& .header-center__button {
				right: 3%;
				& img {
					display: initial;
				}
			}
		}
		@media (max-width:$mobile){
			 width: 100%; 
		}
	}
	&__navigation, .main-search &__navigation[class] {
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__button {
		// .brands-tabs__button {
		@media (max-width:$tablet){
			width: 30px;
		}
		@media (max-width:$mobile){
				@include adaptiveValue("width", 46, 22,0,768,320); 
				// @include adaptiveValue("flex-basis", 46, 29,0,768,320); 
		}
		svg {
			width: 100%;
			height: auto;
		}
		// }
		&._tab-active svg {
			fill: $knopka-bordovaya;
		}
		&:not(:last-child) {
			@media (min-width:$mobile){
				margin-right: 10px;
			}
		}
		.lk &:not(:last-child) {
			margin-right: 10px;
		}
	}
	&__title {
		.brands & {
			// font-size: toRem(36);
			@media (max-width:$mobile){
			// @include adaptiveValue("font-size", 50, 22,0,768,320);
		}
		}
	}

	&__content {
		flex: 1 0 100%;
		// margin-top: toRem(20);
	}

	&__body {
		margin-top: toRem(20);
		margin-bottom: toRem(40);
		.main-search & {
			@media (max-width:$mobile){
				 margin-top: 0;
				 margin-bottom: 0; 
			}
		}
	}

	&__cols-wrapper {
		display:flex;
		justify-content: flex-start;
		align-items: flex-start;
		column-gap: 30px;
		flex-wrap: wrap;
		@media (max-width:$pcSmall){
			column-gap: 20px;
		}
		@media (max-width:$tablet){
			column-gap: 30px;
			// justify-content: space-around;
		}
		&_tile {
			display: block;
			&:not(:first-child) {
				margin-top: 40px;
			}
		}
	}

	&__col {
		flex: 0 0 10.79%; /* 160/1490 */
		margin-bottom: toRem(40);
		@media (max-width:$pcSmall){
			flex: 0 0 15.33%; /* 160/1060 */
		}
		@media (max-width:$tablet){
			 flex: 0 0 31.073446%; /* 275/885 */
		}
		@media (max-width:$mobile){
			 flex: 0 0 100%;
			 margin-bottom: toRem(100);
			 &:has(:not(.brands-tabs__title)) {
				margin-bottom: 0;
				& .brands-tabs__item:last-child {
					margin-bottom: toRem(20);
				}
			 }
			 &:not(:first-child) {
				&:has(.brands-tabs__title) {
					margin-top: toRem(100);
					@media (max-width:$mobileSmall){
						 margin-top: toRem(40); 
					}
				 }
			 }
		}
		@media (max-width:$mobile){
			
	  }
		&_tile {
			width: 100%;
			margin-bottom: 0;
		}
	}
	&__wrapper-img {
		@media (min-width:$mobile){
			.brands-tabs__cols-wrapper_list & {
				display: none;
			} 
	  }
	  @media (max-width:$mobile){
		width: 16.5%;
		.main-search & {
			width: initial;
		}
	  }
	  img {
			width: 100%;
		}
	}

	&__list {
		
		&_tile {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
			@media (max-width:$tablet){
				grid-template-columns: 1fr 1fr 1fr;
			}
			// flex-wrap: wrap;
			gap: 30px 20px;
			@media (max-width:em(530)){
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			}
			.list & {
				grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
				@media (max-width:$mobileSmall){
					grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				}
			}
		}
	}

	&__item {
		@media (min-width:$mobile){
			  
		}
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
		&_tile:not(:last-child) {
			margin-bottom: toRem(0);
			
		}
		@media (max-width:$mobile){
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
			 display: flex;
			 align-items: center; 
			 @include adaptiveValue("column-gap", 34, 25,0,768,320);
		}

		&_tile {
			flex: 0 0 240px;
			&:last-child{
				margin-bottom: toRem(40);
			}
			@media (max-width:$pcSmall){
				// flex: 0 0 297px;
				flex: 0 0 250px;
				// outline: 1px solid red;
			}
			@media (max-width:$tablet){
				flex: 0 0 207px;
			}
		}
	}

	&__link {
		width: 100%;
		
		line-height: 114.285714%; /* 16/14 */
		@media (max-width:$tablet){
			font-size: toRem(20);
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
	}
}
