// Заголовки, общие БЄМ блоки и прочее...
//Заголовки в блоках
h3[class*="__title"] {
	margin-bottom: 20px;
	position: relative;
	font-weight: 300;
	text-transform: uppercase;
	@include adaptiveValue("font-size", 24, 20, 0, $containerWidth, 1001.98);
	line-height: 118%; /* 59/50 */
	color: $zagolovok;
	@media (max-width: $tablet) {
		font-size: 35px;
	}
	@media (max-width:$mobile){
		 @include adaptiveValue("font-size", 50, 19,0,768,320); 
	}
	@media (max-width: $mobileSmall) {
		margin-bottom: toRem(20);
	}
}

//Продукт и лейблы на нём

.product {
	// outline: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border-radius: 16px;
	// border: 1px solid #f4e1e6;
	background: #ffffff;
	padding: toRem(28) toRem(20) toRem(20) toRem(20);
	.list & {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
		gap: 10px 25px;
		padding: 28px 9px 14px 9px;
	}
	@media (max-width: $tablet) {
		padding: toRem(30) toRem(15) toRem(20) toRem(15);
	}
	@media (max-width: $mobile) {
		padding: toRem(45) toRem(10) toRem(20) toRem(10);
	}
	transition: box-shadow 0.3s;
	overflow: hidden;
	width: 100%;
	&:hover {
		cursor:pointer;
		box-shadow:
			10px 10px 10px 0 rgba(187, 144, 144, 0.1),
			-10px -10px 10px 0 rgba(187, 144, 144, 0.1),
			-2px -2px 8px 0 rgba(187, 144, 144, 0.1),
			2px 2px 8px 0 rgba(187, 144, 144, 0.1);
		& .product__view {
			transition: all 0.3s;
			opacity: 1;
			visibility: visible;
		}
	}
	&__img {
		// outline:1px solid;
		.product-wait & {
			opacity: 0.65;
		}
		.list & {
			width: 94px;
			// transform: scale(0.8);
		}
		img {
			aspect-ratio: 1 /1;
		}
	}

	&__content {
		margin-top: toRem(10);
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		color: #000;
		font-weight: 400;
		line-height: 16px;
		@media (max-width: $tablet) {
			font-size: toRem(20);
		}
		@media (max-width: $mobile) {
			margin-top: toRem(1);
			@include adaptiveValue("font-size", 30, 13, 0, 768, 360);
			line-height: 34px;
		}
		@media (max-width: $mobileSmall) {
			//   @include adaptiveValue("font-size", 16, 13,0,480,360);
			line-height: 112.5%; /* 18/16 */
		}
		span {
			font-weight: 700;
		}
		&:not(:last-child) {
			margin-bottom: toRem(4);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(8);
			}
		}
	}

	&__category {
		
		// font-weight: 400;
		line-height: 1.1;
		@media (max-width: $pcSmall) {
			font-size: toRem(12);
		}
		@media (max-width: $tablet) {
			font-size: toRem(18);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 24, 12, 0, 768, 360);
		}
		&:not(:last-child) {
			margin-bottom: toRem(4);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(4);
			}
		};
		&_man {
			color: rgb(0, 34, 122);
		}

		&_woman {
			color: #B4002B
		}
	}

	&__cost {
		@include adaptiveValue("font-size", 18, 16, 0, 1920, 1001);
		line-height: math.div(21, 18);
		@media (max-width: $mobile) {
			// margin-top: 20px;
			@include adaptiveValue("font-size", 26, 16, 0, 768, 360);
		}
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		.product-wait & {
			display: none;
		}
	}

	&__text-none {
		margin-bottom: 10px;
		text-align: center;
		font-style: italic;
		font-weight: 300;
	}

	// &__labels {
	// }

	&__actions {
		.guest & {
			display: none;
		}
		.product-wait & {
			.product__action {display: none;}
		}
		display: flex;
		gap: toRem(5);
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 2;
	}

	&__action {
		@include adaptiveValue("width", 30, 22,0,1920,1001);
		@include adaptiveValue("height", 30, 22,0,1920,1001);
		@media (max-width:$tablet){
			width: 40px;
			height: 40px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 50, 18,0,768,320); 
		}
		img {
			width: 100%;
		}
		& svg {
			width: 100%;
			height: auto;
			path {
				transition: all 0.2s
			};
		}
		& svg.product__favorite path{
			fill: white;
		}
		& svg._active-favorite.product__favorite path {
			fill: $zagolovok;
		}
	}

	&__view {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.3);
	}

	&__view-link {
		display: grid;
		align-items: center;
		justify-content: center;
		background: rgba(191, 92, 122, 0.7);
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 80%;
	}

	&__subtext {
		display: inline-block;
		font-weight: 300;
		font-size: toRem(12);
		margin-bottom: toRem(5);
	}

	&__description {
		font-size: toRem(12);
		line-height: 116.666667%; /* 14/12 */
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 16, 12, 0, 768, 360);
		}
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}

	&__seil {
		background-color: $knopka-bordovaya;
		color: white;
		display: flex;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
		position: relative;
		z-index: 4;
		text-transform: uppercase;
		.list & {
			grid-row: 2 / 3;
			grid-column: 1 / 3;
		}
		@media (any-hover: hover){
			&:hover{
				transition: color 0.3s;
				// color: #000;
			}
		}
		&_seil {
			// &._no-visible {
			._arrange-button & {
				display: none;

			}
			// }
		}

		&_make {
			outline: 1px solid $zagolovok;
			background-color: white;
			color: $knopka-bordovaya;
			display: none;
			._arrange-button & {
				display: block;
			}
			// &._seil-visible {
			// }
		}

		&_wait {
			background-color: #939393;
			color: white;
		}
	}

	&__star {
		display: block;
		margin-bottom: 5px;
		@media (max-width:$tablet){
			margin-bottom: 10px;
		}
	}

	&__reviev-numbers {
		color: #333;
	}
}


//Лейблы

.labels {
	position: absolute;
	display: inline-flex;
	flex-wrap: wrap;
	gap: toRem(4);
	top: 10px;
	left: 10px;
	max-width: 67%;
	// grid-template-columns: repeat(3, 1fr);
	&__label {
		// display: inline-block;
		padding: 5px;
		color: white;
		font-size: toRem(9);
		line-height: math.div(11, 9);
		// width: max-content;
		&_top {
			background: rgb(30, 120, 203);
		}

		&_now {
			background: rgb(235, 85, 0);
		}

		&_action {
			background: rgb(149, 70, 186);
		}
		&_discont {
			background: rgb(221, 16, 78);
		}
		&_sale {
			background: rgb(14, 159, 81);
		}
	}
	.list & {
		left: 129px;
	}
}



//кнопка "показать всё"

.center-button {
	// margin-left: auto;
	margin: auto;
	margin-top: toRem(20);
	display: table;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: $knopka-rozovaya;
	padding: toRem(10) toRem(69);
	@media (max-width: $mobile) {
		padding: toRem(10) toRem(55);
	}
	@media (max-width: $mobileSmall) {
		padding: toRem(10) toRem(45);
	}
	&:hover {
		transition:color 0.3s, background-color 0.3s;
		background-color: white;
		color: $knopka-rozovaya;
		outline:1px solid $knopka-rozovaya;
	}
}

// Иконки соц сетей

.menu {

	&__social {
		display: flex;
		column-gap: 20px;
		margin-top: 30px;
		margin-bottom: 20px;
		@media (min-width:$tablet){
			.header & {
				display: none; 
			} 
		}
		@media (max-width:$mobile){
			 max-width: 240px; 
			margin-top: 0;
			margin-bottom: 0;
			 flex-wrap: wrap;
			 row-gap: 20px;
			 .header & {
				flex-wrap: nowrap;
				@media (max-width:$tablet){
					margin-top: 20px;
					margin-bottom: 0;
				}
				@media (max-width:$mobile){
					 margin-top: 5px; 
				}
			 }
		}
	}

	&__social-link {
		display: inline-block;
		width: 40px;
		height: 40px;
		@media (max-width:$pcSmall){
			width: 30px;
			height: 30px;
		}
		@media (max-width:$tablet){
			width: 40px;
			height: 40px;
		}
		@media (max-width:$mobile){
			//  width: 100px;
			//  height: 100px;
			 @include adaptiveValue("width", 100, 55,0,768,320);
			 @include adaptiveValue("height", 100, 55,0,768,320);
		}
		img {
			width: 100%;
		}
		.header & {
			
			@media (max-width:$tablet){
				width: 70px;
				height: 70px;
			}
			@media (max-width:$mobile){
				@include adaptiveValue("width", 70, 37,0,768,320);
			 	@include adaptiveValue("height", 70, 37,0,768,320);
			}
		}
	}
}

// Свайпер кнопки назад вперед
.swiper-prev {
	display: none;
	@media (min-width: $mobile) {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -2%;
	}
}
.swiper-next {
	display: none;
	@media (min-width: $mobile) {
		display: inline-block;
		position: absolute;
		right: -2%;
		top: 50%;
		transform: translateY(-50%);
		img {
			// transform: rotate(180deg);
		}
	}
}

//Раскращивание стрелки свайпера, если долистал до последнего слайда
.tabs__shell {
	& button svg path {
		fill: $zagolovok;
	}
	& .swiper-next {
		svg {
			transform: rotate(180deg);
		}
	}

	& .swiper-button-disabled svg path {
		fill: #6e6e6e;
	}
}

//Свайпер пагинация
.pagination {
	display: none;
	@media (max-width: $mobile) {
		// margin:auto;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		gap: 20px;
		& .swiper-pagination-bullet {
			background-color: #ecb1c3;
			width: 19px;
			height: 19px;
			border-radius: 100%;
			transition: background-color 0.5s;
			@media (max-width: $mobileSmall) {
				width: 13px;
				height: 13px;
			}
		}
		& .swiper-pagination-bullet-active {
			background-color: $knopka-rozovaya;
		}
	}
}

// Хлебные крошки

.breadcrumbs {
	margin-top:10px;
	margin-bottom:20px;
	height: 14px;
	position: relative;
	
	&__list {
		width: fit-content;
		display: flex;
		flex-wrap: nowrap;
		// position: absolute;
		// left: 0;
		
		&._align-right {
			position: absolute;
			right: 0;
		}
		
	}

	&__item {
		
	}

	&__link {
		font-style: italic;
		font-weight: 300;
		font-size: 12px;
		@media (max-width:$tablet){
			font-size: 18px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 24, 14,0,768,320); 
		}
		color: $zagolovok;
		text-align: right;
		text-wrap: nowrap;
		&:not(:last-child) {
			&::after{
				content:'/';
				padding-left: 3px;
				padding-right: 3px;
			}
		}
		&:first-child{
			&::after{
				content:'/';
				padding-left: 3px;
				padding-right: 3px;
			}
		}
	}

	&__current {
		text-wrap: nowrap;
		font-style: italic;
		font-weight: 500;
		font-size: 12px;
		@media (max-width:$tablet){
			font-size: 18px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 24, 14,0,768,320); 
		}
		color: $zagolovok;
	}
}

// Кнопка действия

.button-actions {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	background-color: $knopka-rozovaya;
	padding-top: 14px;
	padding-bottom: 14px;
	@media (max-width:$mobile){
		@include adaptiveValue("font-size", 35, 16,0,768,320); 
	}
}

.button-light {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $knopka-rozovaya;
	text-transform: uppercase;
	font-size: 24px;
	border: 1px solid $knopka-rozovaya;
	padding: 12.5px 0px;
}

// ОТЗЫВ

.feedback {

	&__logo {
		flex: 0 0 40px;
		display: grid;
		place-items: center;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		color: #fff;
		font-family: Pt_Sans;
		font-weight: 700;
		line-height: normal;
		font-size: 17px;
		text-transform: uppercase;
		@media (max-width:$mobile){
			display: none; 
		}
		&_blue {
			background-color: #5EC5DC;
		}

		&_violet {
			background-color: #BB5EDC;
		}

		&_yellow {
			background-color: #F0B864;
		}
		&_pink {
			background-color: #DC5EC0;
		}
		&_darkviolet {
			background-color: #623FC6;
		}
	}

	&__body {
		display: flex;
		gap: 10px;
		align-items: flex-start;
		padding: 10px;
		border-radius: 16px 16px 0 0;
		background: #ffffff;
	}

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		@media (max-width:$mobileSmall){
			row-gap: 10px; 
		}
	}

	&__top {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		flex-wrap: wrap;
		@media (max-width:$mobile){
			flex-direction: row;
			justify-content: space-between; 
		}
	}

	&__bottom {
		border-radius: 0 0 16px 16px;
	}

	&__name {
		font-weight: 500;
		line-height: normal;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
	}

	&__date {
		line-height: normal;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
	}

	&__star {
	}

	&__star-item {
		display: inline-block;
		width: 22px;
		@media (max-width:$tablet){
			width: 41px;
		}
		@media (max-width:$mobile){
			width: 26px; 
		}
		@media (max-width:$mobileSmall){
			//  width: 21px; 
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__text-wrapper {
		@media (max-width:$mobile){
			max-height: 226px;
			overflow-y: hidden;
		}
	}

	&__text {
		// line-height: normal;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			
			@include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
	}

	&__write {
		@media (min-width:$mobile){
			display: none; 
		}
		color: $zagolovok;
		font-weight: 500;
		line-height: normal;
		text-decoration-line: underline;
		@include adaptiveValue("font-size", 28, 16,0,768,320);
		display: none;
		&._open-write {
			display: block;
		}
	}

	&__photo {
		.reviews & {
			display: none;
		}
		display: flex;
		flex-wrap: wrap;
		gap: 7px;
		align-items: center;
	}

	&__photo-img {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__question-block {
	}

	&__spollers {
	}

	&__spoller-title {
		color: $zagolovok;
		line-height: normal;
		text-transform: uppercase;
		.feedback__bottom & {
			align-items: center;
			gap: 10px;
			@media (max-width:$tablet){
				font-size: 22px;
			}
			@media (max-width:$mobile){
				 @include adaptiveValue("font-size", 30, 16,0,768,320); 
			}
		}
	}

	&__spoller-arrow {
		._spoller-active & img {
			transform: rotate(90deg);
		}
		display: flex;
		align-items: center;
		@media (max-width:$mobile){
			 width: 15px; 
		}
		@media (max-width:$mobileSmall){
			 width: 10px; 
		}
		img {
			width: 100%;
			height: auto;
			transition: transform .5s;
			
		}
	}

	&__spoller-body {
		margin-top: 10px;
		margin-left: 60px;
		padding: 20px 10px ;
		background-color: white;
		border-radius: 16px;
		@media (max-width:$mobile){
			margin-left: 0;
			border: 1px solid rgba(214, 187, 195, 0.50);
			border-radius: 0;
		}
	}

	&__story-answer {
	}
}
.question-block {
	@media (max-width:$mobile){
		 display: flex;
		 flex-direction: column; 
		 row-gap: 20px;
	}
	@media (max-width:$mobileSmall){
		row-gap: 10px; 
  }
	&__text {
		font-size: 15px;
		font-style: italic;
		font-weight: 500;
		line-height: normal;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
		
	}

	
	&__text-light {
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-style: italic;
		font-weight: 500;
		line-height: 25px;
		@media (max-width:$tablet){
			font-size: 19px;
		}
		@media (max-width:$mobile){
			display: block;
			order: 1;
			 @include adaptiveValue("font-size", 27, 13,0,768,320); 
		}
	}

	&__quantity {
	}

	&__answers {
		margin-top: 10px;
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__button {
		padding: 12px toRem(23);
		border-radius: 40px;
		background: #C2C2C2;
		line-height: normal;
		color: white;
		transition: background-color 0.3s;
		@media (any-hover: hover){
			&:hover{
				background: rgba(194, 194, 194, 0.733);
			}
		}
		@media (max-width:$tablet){
			font-size: 30px;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
		&_yes {
			._question-active &._question-answer {
				background-color: #0E9F51;
			}
		}

		&_no {
			._question-active &._question-answer {
				background-color: #DD101C;
			}
		}
	}
}


//Убираю треугольник на IOS
summary::-webkit-details-marker {
	display: none;
}
summary {
	list-style: none;
}

details > summary::marker {
	display: none;
	content: ''; /* Прощай, стрелочка, теперь ты здесь не нужна! */
}

//убираем крестик у input type search
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

//СВИТЧ
.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 26px;
	top: 2px;
	@media (max-width:$tablet) and (min-width:$mobile){
		width: 70px;
		height: 40px;
	}
	@media (max-width:$mobile) and (min-width:$mobileSmall){
		 width: 146px;
		 height: 70px; 
	}
 }
 
 /* Hide default HTML checkbox */
 .switch input {visibility: hidden;}
 
 /* The slider */
 .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $knopka-rozovaya;
	background: #EACBD4;
	transition: .4s;
 }
 
 .slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	top: 2px;
	left: 2px;
	background-color: rgb(255, 255, 255);
	@media (max-width:$tablet) and (min-width:$mobile){
		width: 36px;
		height: 36px;
	}
	@media (max-width:$mobile) and (min-width:$mobileSmall){
		 width: 65px;
		 height: 65px; 
	}
	transition: transform .4s;
 }
 
 input:checked + .slider {
	background: $knopka-rozovaya;
 }
 
 input:checked + .slider:before {
	transform: translateX(22px);
	@media (max-width:$tablet) and (min-width:$mobile){
		transform: translateX(30px);
	}
	@media (max-width:$mobile) and (min-width:$mobileSmall){
		transform: translateX(75px);
	}
 }
 
 /* Rounded sliders */
 .slider.round {
	border-radius: 60px;
 }
 
 .slider.round:before {
	border-radius: 50%;
 }