.page {
}
.reviews {

	&__container {
		margin-bottom: 150px;
		position: relative;
		@media (max-width:$mobile){
			 margin-bottom: 80px; 
		}
	}

	&__wrapper {
	}

	&__title {
	}

	&__actions {
		
	}

	&__body {
		
	}

	&__button {
		width: 20%;
		margin-bottom: 20px;
		@media (min-width:$tablet){
			 font-size: 14px;
		}
		@media (max-width:$tablet){
			width: 45%;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__panel {
	}

	&__feedbacks {
		&:not(:last-child) {margin-bottom: toRem(20);}
		@media (max-width:$pcSmall){
			&:not(:last-child) {margin-bottom: toRem(30);}
		}
		@media (max-width:$tablet){
			&:not(:last-child) {margin-bottom: toRem(60);}
		}
		@media (max-width:$mobile){
			 &:not(:last-child) {margin-bottom: toRem(40);} 
		}
	}
}

.actions-review {
	@media (min-width:$mobile){
		 display: none; 
	}
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	&__button {
		flex: 0 0 48.760331%; /* 354/726 */
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 14,0,768,320); 
		}
		&_dark {
			border-color: $zagolovok;
			color: $zagolovok;
		}
	}
}
.button-light {
}
.panel-comment {
	border-radius: 16px 16px 0 0;
	background: #FFEDF0;
	padding: 10px toRem(10);
	display: flex;
	gap: 40px;
	&:not(:last-child) {margin-bottom: toRem(10);}
	@media (max-width:$tablet){
		@include adaptiveValue("gap", 20, 10,0,1001.98,768);
		padding: 15px toRem(10);
	}
	@media (max-width:$mobile){
		 display: none; 
	}

	&_arrow {
		img {
			transition: transform 0.3s;
		}
		._filter-item-open & {
			img {
				transform: rotate(180deg);
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		position: relative;
		cursor: pointer;
	}

	&__text {
		line-height: normal;
		text-transform: uppercase;
		color: $zagolovok;
		._filter-item-open & {
			text-decoration-line: underline;
			color: #000;
		}
		// &._selected-sort-review {
		// 	text-decoration-line: underline;
		// 	color: #000;
		// }

		@media (max-width:$tablet){
			@include adaptiveValue("font-size", 18, 14,0,1001.99,768);
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__button {
		width: 220px;
		font-size: 12px;
		margin-left: auto;
		@media (max-width:$tablet){
			@include adaptiveValue("font-size", 18, 14,0,1001.99,768);
		}
	}

	&__list {
		position: absolute;
		top: 150%;
		left: 0;
		width:130%;
		padding: 15px 5px;
		border-radius: 0px 0px 16px 16px;
		// border: 1px solid #F4E1E6;
		background: #FFF;
		// border: 1px solid;
		transition: top 0.3s;
		outline:1px solid #FFF5F6;
		opacity:0;
		visibility:hidden;
		._filter-item-open & {
			top: calc(110% + 5px);
			opacity: 1;
			visibility: visible;
		}
	}

	&__item-list {
		display: flex;
		gap: 10px;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__text-radio {

	}

	&._filter-item-open {

	}
}

.questiion-block {

	&__yes-quantity {
	}
}
.spollers {

	&__item {
	}

	&__title {
		.feedback & {
			cursor: pointer;
			padding-left: 60px;
			padding-top: 5px;
			padding-bottom: 10px;
			background-color: rgb(255, 255, 255);
			border-radius: 0 0 16px 16px;
			@media (max-width:$mobile){
				 padding-left: 20px;
				 padding-top: 20px;
			}
			@media (max-width:$mobileSmall){
				 padding-top: 10px;
				 padding-bottom: 10px; 
			}
		}
	}
}
.answer {

	&__content {
		display: flex;
		gap: 10px;
	}

	&__logo {
	}

	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
		row-gap: toRem(10);
		@media (max-width:$tablet){
			row-gap: 20px;
		}
		@media (max-width:$mobile){
			 row-gap: 10px;
			 width: 100%;
			 .feedback__name {
				margin-left: 20px;
			 }
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		row-gap: toRem(10);
	}

	&__textarea {
		padding: 10px;
		border-radius: 3px;
		border: 1px solid #C7C7C7;
		background: #FAFAFA;
		resize: none;
		&::placeholder {
			font-size: 18px;
		}
		@media (max-width:$mobile){
			min-height: 150px;
			font-size: 28px;
			 padding: 20px;
			 margin-left: 20px;
			 &::placeholder {
				text-transform: uppercase;
				@include adaptiveValue("font-size", 28, 14,0,768,320);
			 } 
		}
	}

	&__form-item {
		display: flex;
		gap: 20px;
		@media (max-width:$mobile){
			margin-top: 20px;
			width: 100%;
			 flex-direction: column;
			 row-gap: 20px;
			 & .button-light {
				@include adaptiveValue("font-size", 35, 16,0,768,320); 
			 }
		}
		@media (max-width:$mobileSmall){
			margin-top: 0;
		}
	}

	&__button {
		width: 240px;
		transition: opacity 0.3s;
		font-size: 14px;
		@media (max-width:$mobile){
			 width: 100%; 
			 
		}
		
		@media (any-hover: hover){
			&:hover{
				opacity: 0.7;
			}
		}
	}
}
.button-actions {
}
.story-answer {
	margin-left: 60px;
	margin-top: 10px;
	padding: 20px toRem(10);
	display: flex;
	gap: 10px;
	background-color: white;
	border-radius: 16px;
	@media (max-width:$mobile){
		 margin-left: 0; 
	}
	&__logo {
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}