//====================================================================================================
.footer {
	background-color: $zagolovok;
	&__container {
		display: flex;
		column-gap: toRem(20);
		@include adaptiveValue("padding-top", 50, 30, 0, 1920, 768);
		@include adaptiveValue("padding-bottom", 50, 30, 0, 1920, 768);
		@media (max-width: em(1150)) {
			flex-wrap: wrap;
			row-gap: 2.5rem;
		}
		@media (max-width: $mobile) {
			padding-bottom: toRem(110);
		}
	}

	&__main {
		flex: 0 0 24.1%; /* 371/1540 */
		display: flex;
		flex-direction: column;
		@media (max-width: em(1150)) {
			flex-direction: row;
			column-gap: toRem(20);
			justify-content: space-between;
			flex: 0 0 100%;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__menu {
		flex: 0 0 75.9%;
		@media (max-width: em(1150)) {
			flex: 0 0 100%;
		}
	}

	&__bottom {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			width: 100%;
		}
	}
}
.main-footer {
	&__logo {
	}

	&__subtext {
		display: block;
		margin-top: 0.625rem;
		font-weight: 300;
		font-size: 0.875rem;
		text-transform: uppercase;
		color: #fff;
		span {
			font-weight: 400;
		}
	}

	&__social {
		@media (max-width: em(1150)) {
			order: 1;
		}
	}

	&__text {
		font-style: italic;
		font-weight: 300;
		font-size: 0.875rem;
		line-height: 150%;
		color: #fff;
		@media (max-width:$mobile){
			align-self: flex-start;
			 margin-top: 50px;
			 @include adaptiveValue("font-size", 28, 12,0,768,320);
		}
	}
}
.menu {
	&__social {
		.footer & {
			margin-top: 1.25rem;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			@include adaptiveValue("gap", 40, 15, 0, 1920, 1280);
			@media (max-width: em(865)) {
				margin: 0;
				display: inline-grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}
	}

	&__social-item {
		.footer & {

		}
	}

	&__social-itemlink {
	}

	&__list {
		// justify-content: space-between;
	}

	&__item {
	}

	&__link {
	}

	&__sublist {
		&_grid {
		}
	}
}
.menu-footer {
	&__list {
	}

	&__col {
		@media (max-width: em(1151)) {
			display: none;
		}
	}
}
.sublist-menu {
	&__item {
	}

	&__link {
		&_bold {
		}
	}
}

.bottom-footer {
	&__links {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 24, 15, 0, 768, 360);
	}

	&__link {
		@include adaptiveValue("width", 224, 140, 0, 768, 360);
		img {
			width: 100%;
		}
	}

	&__social {
		flex-basis: 50%;
	}
}

.footer {
	&__navbar {
		@media (min-width: $mobile) {
			display: none;
		}
		display: flex;
		position: fixed;
		bottom: 0;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		background-color: white;
		// position: relative;
		width: 100%;
		z-index: 100;
	}
}
.navbar-footer {
	&__item {
		// outline: 1px solid red;
		position: relative;
		@include adaptiveValue("width", 70, 35, 0, 768, 360);
		@include adaptiveValue("height", 70, 35, 0, 768, 360);
		img {
			width: 100%;
			@media (max-width: em(600)) {
				//   transform: scale(0.8);
			}
			@media (max-width: $mobileSmall) {
				//  transform: scale(0.6);
			}
		}
		&_quantity {
		}
	}

	&__quantity {
		position: absolute;
		z-index: 2;
		@include adaptiveValue("width", 38, 20, 0, 768, 360);
		@include adaptiveValue("height", 38, 20, 0, 768, 360);
		border-radius: 100%;
		display: grid;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("font-size", 24, 17, 0, 768, 360);
		font-weight: 700;
		background-color: white;
		right: 0;
		bottom: 0;
		color: $knopka-bordovaya;
		align-items: center;
		justify-content: center;
	}
}

//====================================================================================================
