.header {
	position: relative;
	background: #fff5f6;
	.menu-open & {
		transition:
			background-color 0.3s,
			opacity 0.3s;
	}

	&__drop {
		background: #020001;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		pointer-events: none;
		transition: 0.2s ease;
		.menu-open & {
			opacity: 0.58;
			z-index: 1;
			pointer-events: all;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__center {
		display: flex;
		align-items: center;
		@include adaptiveValue("padding-top", 29, 20, 0, 1920, 1280);
		padding-bottom: toRem(37);
		@media (max-width: $tablet) {
			justify-content: space-between;
			& .menu__icon {
				@media (max-width:$tablet){
					// margin-right: 75px;
				}
				.menu-open & {
					margin-right: 0;
				}
			}
		}
	}

	&__menu {
		// display: none;
		position: relative;
		z-index: 3;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			width: 10000vw;
			height: 100%;
			left: -1000%;
			background: $knopka-rozovaya;
			z-index: -1;
		}
	}
}
.user {
}
.top-header {
	&__item {
		position: relative;

		&_city {
			@include adaptiveValue("margin-right", 46, 20, 0, 1920, 1280);
		}

		&_tel {
			margin-left: auto;
		}
	}

	&__city {
		display: flex;
		align-items: center;
		gap: toRem(4);
		position: relative;
		cursor: pointer;
		&:hover {
			& .top-header__city-name {
				color: $knopka-rozovaya;
			}
		}
	}

	&__city-choice {
		.user & {
			display: none;
		}
		position: absolute;
		top: 160%;

		left: -50%;
		border: 1px solid #f4e1e6;
		box-shadow:
			10px 10px 10px 0 rgba(187, 144, 144, 0.1),
			-10px -10px 10px 0 rgba(187, 144, 144, 0.1),
			-2px -2px 8px 0 rgba(187, 144, 144, 0.1),
			2px 2px 8px 0 rgba(187, 144, 144, 0.1);
		border-radius: 8px;
		background-color: white;
		padding: 10px toRem(22);
		font-size: toRem(13);
		line-height: 15px;
		min-width: toRem(195);
		z-index: 4;
		// transition: all 0.3s;
		@media (max-width: em(1630)) {
			left: -0%;
		}
		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			border: 11.5px solid transparent;
			border-bottom: 11.5px solid white;
			top: -22px;
			left: 50%;
			transform: translateX(-50%);
			@media (max-width: em(1630)) {
				left: 30%;
			}
		}
	}

	&__city-name {
		font-size: toRem(13);
		line-height: 15px;
		text-decoration: underline;
		color: $zagolovok;
		transition: color 0.3s;
	}

	&__list {
		display: flex;
		align-items: center;
		// flex-wrap: wrap;
		column-gap: toRem(20);
		@media (max-width: $pcSmall) {
			display: none;
		}
	}

	&__list-item {
		flex: 1 0 auto;
		font-size: toRem(13);
		line-height: 15px;
		color: $tekst-zagolovok-ne-aktivnyy;
	}

	&__item-link {
		font-size: toRem(13);
		font-weight: 400;
		line-height: 1.5;
		color: $tekst-zagolovok-ne-aktivnyy;
		&:hover {
			transition: color 0.3s;
			color: $zagolovok;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		font-size: toRem(13);
		line-height: 1.5;
		color: $zagolovok;
		column-gap: toRem(15);
	}
}

.city-choice {
	&__text {
		margin-bottom: 10px;
	}

	&__name {
		text-decoration: underline;
	}

	&__button {
		padding: 7px toRem(23);
		background: $zelenysh;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		text-transform: uppercase;
		font-size: 13px;
		color: white;
		min-width: 150px;
		&_none {
			border: 1px solid $knopka-bordovaya;
			background: initial;
			color: $knopka-bordovaya;
		}
	}
}

.contacts-top-header {
	&__link {
		margin-left: toRem(5);
		@media (any-hover: hover) {
			&:hover {
				transition: color 0.3s;
				color: $knopka-rozovaya;
			}
		}
		&:last-child {
			@media (max-width: $pcSmall) {
				display: none;
			}
		}
	}
}
.header-center {
	&__logo {
		margin-right: 2rem;
		img {
			width: 100%;
		}

		@media (max-width: $pcSmall) {
			margin-right: 1.25rem;
			width: 15.625rem;
		}
		@media (max-width: $tablet) {
			margin-right: 0px;
		}
		@media (max-width: $mobileSmall) {
			width: toRem(195);
		}
		@media (max-width: em(360)){
			 width: 160px; 
		}
	}

	&__form-wrapper {
		position: relative;
		// @include adaptiveValue("width", 750, 520, 0, 1920, 1280);
		@include adaptiveValue("width", 750, 520, 0, 1540, 1280);

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__form {
		position: relative;
		#city & {
			width: 100%;
		}
		.menu-open & {
			border-radius: 16px;
		}
		@media (any-hover: hover) {
			&:hover {
				& .header-center__input {
					border-radius: 16px 16px 0 0;
				}
				& .dropmenu {
					transition: opacity 0.3s;
					opacity: 1;
					visibility: visible;
					z-index: 4;
				}
			}
		}
		@media (max-width: $tablet) {
			width: 320px;
			overflow: hidden;
			z-index: 5;
			.menu-open & {
				z-index: 1;
			}
			position: absolute;
			right: 0;
			._show & {
				right: 0;
			}
		}
	}

	&__input {
		padding: 0.9375rem toRem(20);
		border-radius: 1rem;
		font-style: italic;
		color: $tekst-zagolovok-ne-aktivnyy;
		background-color: #fffdfe;
		.brands & {
			background: #fef3f6;
		}
		&::placeholder {
			color: $tekst-zagolovok-ne-aktivnyy;
		}
		#city &,
		#advanced-search & {
			text-transform: uppercase;
			font-style: initial;
			border-radius: 16px;
			width: 100%;
			background-color: #fef3f6;

			&:focus-visible {
				outline: none;
			}
		}
		@media (max-width: $tablet) {
			// padding: 0;
			padding: toRem(10) toRem(0);
			height: 100%;
			.header-center__actions & {
				width: 0px;
			}
			#city & {
				width: 100%;
				padding-top: 0.625rem;
				padding-bottom: 0.625rem;
				padding-left: 0.625rem;
			}
		}
		@media (max-width: $tablet) {
			._show & + .header-center__button .img-search45x45 {
				display: none;
			}
			._show & + .header-center__button .img-search-small {
				display: block;
			}
		}
		&_mobile {
			background-color: transparent;
			font-style: normal;

			color: white;
			border-radius: 0;

			&::placeholder {
				text-transform: uppercase;
				color: white;
				font-weight: 700;
			}
		}
	}

	&__button {
		position: absolute;
		right: 3%;
		top: 50%;
		transform: translateY(-50%);
		#city &,
		#advanced-search & {
			right: 2%;
		}
		@media (max-width: $tablet) {
			right: 0;
			._show & {
				right: 3%;
			}
		}
		.menu-open & {
			position: relative;
			top: 0;
			right: 0;
			transform: translate(0);
		}
		@media (min-width: $tablet) {
			& .img-search45x45 {
				// display: none;
				scale: 0.7;
				translate: 10px;
			}
		}
		@media (max-width: $tablet) {
			& .img-search-small {
				display: none;
			}
		}
		@media (max-width:$mobileSmall){
			 .header & img {
				transform: scale(0.85);
			 } 
		}
	}

	&__search-full {
		margin-top: toRem(8);
		font-style: italic;
		color: $tekst-zagolovok-ne-aktivnyy;
		text-decoration: underline;
		position: absolute;
		left: 20px;
		font-weight: 300;
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__actions {
		margin-left: 2.5rem;
		display: flex;
		// align-items: flex-start;
		column-gap: toRem(40);
		// @include adaptiveValue("column-gap", 40, 30, 0, 1920, 1001);
		@include adaptiveValue("column-gap", 40, 30, 0, 1540, 1001);
		@media (max-width: $tablet) {
			margin-left: auto;
			// column-gap: toRem(0);
			margin-left: 0;
		}
		@media (max-width: em(360)){
			  margin-left: initial;
		}
		@media (max-width: $mobile) {
			//  display: none;
		}
	}
}
.input {
}
.actions-header {
	.user & {
		@media (min-width: $tablet) {
			// transform: translateY(20px);
			position: relative;
			top: 20px;
		}
		@media (max-width: $mobile) {
			& > *:not(:first-child) {
				display: none;
			}
		}
	}
	&__item {
		display: flex;
		// width: 40px;
		flex-direction: column;
		align-items: center;
		column-gap: toRem(2);
		img {
			aspect-ratio: 1 / 1;
		}
		span {
			font-weight: 300;
			font-size: toRem(13);
			color: $tekst-zagolovok-ne-aktivnyy;
			line-height: 0.9375rem;
			text-align: center;
			@media (max-width: $tablet) {
				display: none;
			}
		}
		&_search {
			@media (min-width: $mobile) {
				display: none;
			}
		}
		&_vhod {
			@media (max-width: $mobile) {
				display: none;
			}
		}
		&_cart {
			position: relative;
			// display: inline-block;
			@media (max-width: $mobile) {
				.guest & {
					display: none;
				}
				// display: none;
			}
		}
		&_search-da {
			position: relative;
			@media (max-width: $tablet) {
				width: 45px;
				height: 40px;
			}
		}
		._quantity {
			display: block;
		}
		.cart-list__quantity span {
			display: block;
		}
	}

	&__data-user {
		display: flex;
		flex-direction: column;
		// align-items: center;
	}

	&__user {
		min-width: 88px;
	}

	&__basket {
		position: relative;
		width: min-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		span._quantity {
			
		}
	}
	&__empty {
		position: absolute;
		z-index: 4;
		white-space: nowrap;
		opacity: 0;
		visibility: hidden;
		top: 130%;
		right: -10px;
		filter: drop-shadow(10px 10px 10px rgba(187, 144, 144, 0.10)) drop-shadow(-10px -10px 10px rgba(187, 144, 144, 0.10)) drop-shadow(-2px -2px 8px rgba(187, 144, 144, 0.10)) drop-shadow(2px 2px 8px rgba(187, 144, 144, 0.10));
		font-size: 21px;
		font-weight: 300;
		line-height: normal;
		text-transform: uppercase;
		padding: 15px toRem(20);
		border-radius: 8px;
		background-color: rgb(255, 255, 255);
		border: 1px solid #F4E1E6;
		@media (max-width:$pcSmall){
			font-size: 18px;
		}
		&::after{
			content: "";
			position: absolute;
			display: inline-block;
			border: 11.5px solid transparent;
			border-bottom: 11.5px solid white;
			top: -22px;
			left: 75%;
			@media (max-width: em(1540)) {
				left: 75%;
			}
			// @media (max-width:$pcSmall){
			// 	left: 75%;
			// 	@include adaptiveValue("left", 132, 132,0,1281,1001);
			// }
			@media (max-width:$tablet){
				left: 78%;
			}
		}
		&._no-hidden {
			opacity: 1;
			visibility: visible;
		}

		&._hidden {
			display: none;
		}
	}

	&__cart {
		position: absolute;
		z-index: 4;
		top: 90%;
		right: -15%;
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		transition: transform 0.3s;
		.guest & {
			top: 120%;
		}
		&._cart-active {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
		@media (max-width:$tablet){
			top: 130%;
		}
	}

	&__quantity[class] {
		position: absolute;
		font-size: 17px;
		background-color: #FFF5F6;
		top: 23px;
		font-weight: 700;
		right: 2px;
		border-radius: 50%;
		color: $zagolovok;
		width: 18px;
		height: 18px;
		opacity: 0;
		visibility: hidden;
		&._quantity-visible {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width:$tablet){
			right: -2px;
		}
	}
	// &__deleteall {
	// 	background-color: white;
	// 	color: $zagolovok;
	// 	display: block;
	// 	margin:auto;
	// 	margin-top: 20px;
	// 	font-size: 16px;
	// 	font-weight: 500;
	// 	padding: 15px toRem(10);
	// 	border: 1px solid $zagolovok;
	// 	text-transform: uppercase;
	// 	// width: 60%;
	// 	// font-size: 16px;
	// 		white-space: nowrap;
	// 		padding-left: 18px;
	// 		padding-right: 18px;
	// }
}

.cart {
	.product__actions {
		display: none;
	}
	.button-light {
		font-size: 12px;
	}
	&__wrapper {
		// text-align: center;
		position: relative;
		border-radius: 8px;
		background: #FFF;
		padding: 14px toRem(10);
		filter: drop-shadow(10px 10px 10px rgba(187, 144, 144, 0.10)) drop-shadow(-10px -10px 10px rgba(187, 144, 144, 0.10)) drop-shadow(-2px -2px 8px rgba(187, 144, 144, 0.10)) drop-shadow(2px 2px 8px rgba(187, 144, 144, 0.10));
		&::after{
			content:'';
			position: absolute;
			display: inline-block;
			border: 11.5px solid transparent;
			border-bottom: 11.5px solid white;
			top: -22px;
			left: 89%;
			@media (max-width:em(1540)){
				// left: 86%;
			}
			@media (max-width:$tablet){
				left: 91.5%;
			}
			// @media (max-width:$pcSmall){
			// 	@include adaptiveValue("left", 380, 418,0,1281,1001);
			// }
		}
	}

	&__top {
		color:$zagolovok;
		font-size: 21px;
		font-weight: 300;
		line-height: normal;
		text-transform: uppercase;
		&:not(:last-child) {margin-bottom: toRem(12);}
	}

	&__list {
		display: flex;
		// flex-direction: column;
		// row-gap: 30px;
		column-gap: toRem(10);
		margin-bottom: 15px;
	}

	&__actions {
		display: flex;
		gap: 27px;
		button {
			font-size: 16px;
			white-space: nowrap;
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}
.cart-list {

	// &__item {
	// 	display: flex;
	// 	align-items: flex-start;
	// 	column-gap: toRem(10);
	// }

	&__body {

	}

	&__image {
		position: relative;
		flex: 0 0 20.9%;
		transform: translateY(12px);
		img {
			width: 100%;
			height: auto;
			.cart & {
				aspect-ratio: initial;
			}
		}
	}

	&__code {
		span {
			color: #000;
		}
		&:not(:last-child) {margin-bottom: toRem(2);}
	}

	&__brand {
		font-weight: 700;
		&:not(:last-child) {margin-bottom: toRem(2);}
		line-height: normal;
	}

	&__gender {
		line-height: normal;
		&:not(:last-child) {margin-bottom: toRem(1);}
		.woman & {
			color: #8D0022;
		}
		.man & {
			color:#00227a
		}
	}

	&__title {
		line-height: normal;
		&:not(:last-child) {margin-bottom: toRem(3);}
	}

	&__cost {
		line-height: normal;
		font-size: 18px;
		&:not(:last-child) {margin-bottom: toRem(2);}
	}

	&__type {
		img {
			display: none;
		}
		line-height: normal;
		span {
			color: #000;
		}
	}

	&__quantity {
		position: absolute;
		top: -15px;
		left: -2px;
		width: 41px;
		height: 41px;
		border-radius: 100%;
		background-color: #FFF1F4;
		display: flex;
		column-gap: toRem(2);
		align-items: center;
		justify-content: center;
		// place-items: center;
		line-height: normal;
		span {
			font-size: 14px;
		color: #000;
		}
	}
	&__del {
		button {
			color: $zagolovok;
			font-weight: 500;
			border: 1px solid $zagolovok;
			padding: 5px toRem(10);
		}
	}
}




.menu {
	&__item {
		&_mobile {
			@media (min-width: $tablet) {
				display: none;
			}
			@media (max-width: $tablet) {
				&:first-child {
					// padding-bottom: 0;
				}
			}
		}

		&_bold {
			font-weight: 700;
		}
	}

	&__link {
		font-size: 1rem;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #fff;
		@media (max-width: em(1300)) {
			font-size: toRem(14);
		}
		@media (max-width: em(1150)) {
			.footer & {
				font-weight: 300;
				font-size: 13px;
				line-height: 169%;
				text-transform: uppercase;
				color: #fff;
				@media (max-width: $mobile) {
					font-weight: 400;
					font-size: 28px;
					letter-spacing: 0.02em;
					text-transform: uppercase;
				}
				@media (max-width: $mobileSmall) {
					font-size: 14px;
				}
			}
		}
		@media (max-width: $tablet) {
			._menu__item-active & {
				background-color: white;
				color: $zagolovok;
				margin-left: -30px;
				margin-right: -15px;
				padding-left: 30px;
				padding-right: 15px;
				// padding-top: 20px;
				// padding-bottom: 20px;
				.menu__item-arrow path {
					fill: $zagolovok;
				}
			}
		}
		@media (max-width: $tablet) {
			font-size: toRem(24);
			// @include adaptiveValue("font-size", 24, 16, 0, 1001.98, 360);
			line-height: 1.3;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 35, 16, 0, 768, 320);
		}
	}

	&__item-title {
	}

	&__item-arrow {
		transition: transform 0.3s;
		._open + & {
			transform: rotate(90deg);
		}
		// transform: translateY(5px);
		@media (min-width: $tablet) {
			display: none;
		}
	}

	&__social-itemlink {
	}
}
.icon-menu {
}
.sublist-menu {
	&__item {
		// transition: color 0.3s;

		@media (any-hover: hover) {
			&:hover {
				.sublist-menu__link {
					transition: color 0.3s;
					color: $zagolovok;
					text-decoration: underline;
					@media (max-width: $tablet) {
						color: #fff;
						text-decoration: none;
						font-weight: 500;
					}
					.footer & {
						color: #ffffff;
						text-decoration: none;
						transform: scale(1.07);
						// font-weight: 500;
					}
					.header & {
						@media (max-width: $tablet) {
						}
					}
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(25);
			.menu-open & {
				margin-bottom: toRem(30);
			}
		}
		.footer & {
			margin-bottom: toRem(15);
		}
	}

	&__link {
		font-size: 16px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: $knopka-rozovaya;
		.header & {
			@media (max-width: $tablet) {
				font-weight: 300;
			}
		}
		.footer & {
			color: white;
			font-weight: 300;
			font-size: 13px;
			line-height: 130%;
			text-transform: initial;
		}
		@media (max-width: $tablet) {
			color: white;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 35, 16, 0, 768, 320);
			font-weight: 300;
			&:active {
				font-weight: 500;
			}
		}

		&_bold {
		}
	}
}

/*Меню поиска  скролл*/

.header-center {
	&__dropmenu {
		position: absolute;
		top: 100%;
		width: 100%;
		background-color: white;
		z-index: 4;
		padding: 20px 20px 20px 20px;
		border-radius: 0 0 16px 16px;
	}
}
.dropmenu {
	opacity: 0;
	visibility: hidden;
	// background-color: transparent;
	// transition:
	// 	opacity 3.3s,
	// 	visibility 3.3s;

	&__wrapper {
		max-height: 250px;
		overflow-y: auto;
		@include scroll-view;
	}

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		// display: flex;
		&_big {
		}
	}

	&__link {
		display: flex;
		gap: toRem(10);
		span {
			font-weight: 500;
		}
		font-weight: 300;
	}

	&__img {
	}

	&__content {
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}

	&__sex {
		font-family: var(--font-family);
		font-weight: 300;
		font-size: 12px;

		&_w {
			color: #9e0030;
		}

		&_m {
			color: #00227a;
		}
		&_brand {
			color: #474747;
		}
	}
	@media (max-width: $tablet) {
		display: none;
	}
}

.guest .user-header {
	display: none;
}
