//=BANNERS===================================================================================================
.page {

	&__banners {
		margin-top: toRem(40);
	}
}
.banners {

	&__container {
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
		img {
			border-radius: 1rem;
			aspect-ratio: 1540 / 468;
		}
	}

	&__title {
	}

	&__link {
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}

//====================================================================================================
