.page {
}
.response {
	.product-response__data {
		@media (max-width:$tablet){
			margin-top: 0;
			padding: 10px;
		}
		@media (max-width:$mobileSmall){
			 padding: 0; 
		}
	}
	.response__title {
		@media (max-width:$mobile) and (min-width:$mobileSmall){
			display: none;
			@include adaptiveValue("font-size", 30, 19,0,768,320); 
		}
		&_data {
			display: block;
			@media (min-width:$mobile){
				 display: none; 
			}
			@media (max-width:$mobileSmall){
				 display: none; 
			}
			@media (max-width:$mobile) and (min-width:$mobileSmall){
				//  display: block; 
			}
		}
	}
	&__container {
		position: relative;
		margin-bottom: 80px;
	}

	&__breadcrumbs {
	}

	&__title {
	}

	&__group {
		display: grid;
		grid-template-columns: 74.67% 1fr;
		gap: 20px;
		@media (max-width:$tablet){
			 display: block; 
		}
	}

	&__main {
		// flex: 0 0 74.675325%; /* 1150/1540 */
		section {
			&:not(:last-child) {margin-bottom: toRem(40);}
		}
	}

	&__product {
		
	}

	&__photos {
		
	}

	&__body {
		// outline: 1px solid blue;
		margin-bottom: 40px;
		@media (max-width:$mobileSmall){
			 margin-bottom: 20px; 
		}
		.panel-comment {
			@include adaptiveValue("column-gap", 20, 15,0, 1001.98,768);
			// justify-content: space-between;
			flex-wrap: wrap;
			row-gap: 20px;
			& .panel-comment__button-wrapper {
				@media (min-width:em(1270)){
					margin-left: auto;
				}
				@media (max-width:em(1270)){
					flex: 0 0 100%; 
				}
			}
			& .panel-comment__button {
				margin-left: initial;
				// flex: 0 0 100%;
			}
			& .checkbox__text {
				color: $zagolovok;
				text-transform: uppercase;
				line-height: normal;
				@media (max-width:$tablet){
					@include adaptiveValue("font-size", 18, 14,0,1001.99,768);
				}
			}
		}
		.feedback._hidden-feedback {
			display: none;
		}
	}

	&__content {
		.panel-comment {
			border-radius: 16px;
		}
	}

	&__popular {
		@media (max-width:$mobile){
			 @include adaptiveValue("margin-top", 70, 40,0,768,320); 
		}
	}
}
//верхняя секция
.product-response {
	display: flex;
	gap: 20px;
	@media (max-width:$pcSmall){
		display: block;
	}

	&__wrapper {
		flex: 0 0 66.086957%; /* 760/1150 */
	
	}

	&__content {
		display: flex;
		padding: 20px;
		gap: 20px;
		border-radius: 16px;
		background: #FFF;
		@media (max-width:$mobileSmall){
			 padding: 10px; 
		}
	}

	&__data {

	}

	&__img {
		flex: 0 0 22.640789%; /* 172.07/760 */
		@media (max-width:$tablet){
			flex: 0 0 27.230047%; /* 232/852 */
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__item {
		&:not(:last-child) {margin-bottom: toRem(10);}
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 display: none;
			@include adaptiveValue("font-size", 28, 13,0,768,320);
		}

		&_gender {
			@media (min-width:$mobile){
				 display: none; 
			}
			@media (max-width:$mobile){
				&.product-response__item {
					display: block;
					@include adaptiveValue("font-size", 24, 13,0,768,320);
				}
			}
		}

		&_view {
			&.product-response__item {
				@media (max-width:$mobile){
					display: block; 
					// @include adaptiveValue("font-size", 24, 13,0,768,320);
				}
			}
		}
	}

	&__text {
		line-height: normal;
		a {
			color: $zagolovok;
			font-style: italic;
			text-decoration-line: underline;
		}
		&_women {
			color:#8D0022;
		}

		&_men {
			color: #00227A;;
		}
	}

	&__title {
		font-weight: 700;
		line-height: normal;
	}

	&__action {
		width: 100%;
		@media (max-width:$pcSmall){
			margin-top: 40px;
			// width: 35%;
		}
		@media (max-width:$mobile){
			 margin-top: 20px; 
		}
	}

	&__link {
		// display: block;
		width: 100%;
		@media (max-width:$pcSmall){
			width: 45%;
		}
		.product-response__action & {
			background: linear-gradient(0deg, #0E9F51 0%, #0E9F51 100%), #BF5C7A;
			color: white;
			border: none;
			@include adaptiveValue("font-size", 26, 15,0,768,320);
			@media (max-width:$tablet){
				// align-self: flex-start;
			}
			@media (max-width:$mobile){
				 padding-top: 20px;
				 padding-bottom: 20px;
				 width: 354px; 
			}
			@media (max-width:$mobileSmall){
				 margin:auto;
				 width: 316px;
				 padding-top: 16px;
				 padding-bottom: 16px;
			}
			@media (max-width: em(360)){
				  width: 260px;
			}
		}
	}

	&__tabs {
		@media (min-width:$mobile){
			 display: none; 
		}
		margin-top: 20px;
		padding: 20px;
		border-radius: 16px;
		background-color: white;
		font-weight: 300;
		
	}

	&__navigation {
		display: flex;

	}

	&__title-tab {
		@include adaptiveValue("font-size", 28, 12,0,768,320);
		&._tab-active {
			font-weight: 400;
		}
	}

	&__body {
		@include adaptiveValue("font-size", 26, 13,0,768,320);
		font-weight: 400;
		line-height: normal;
	}
}

.photos-response {
	.tabs__shell {
		padding: 0 toRem(30);
		@media (max-width:$mobileSmall){
			padding: 0 toRem(22);
		}
	}

	button[class*="swiper"] {
		transform: translateY(-50%) rotate(180deg);
		@media (max-width:$mobile){
			 display: inline-block;
			 position: absolute;
			 top: 50%;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& .photos-response__title {
			margin-bottom: 0;
		}
		margin-bottom: 20px;
	}

	&__title {
		// margin-bottom: 0;
	}

	&__button {
		width: 240px;
		font-size: 14px;
		font-weight: 400;
		@media (max-width:$tablet){
			@include adaptiveValue("width", 340, 300,0,1001.01,768);
			@include adaptiveValue("font-size", 22, 16,0,1001.01,768);
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__content {
	}

	&__subtitle {
		font-size: 16px;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 10px;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 18,0,768,320); 
		}
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
		img {
			width: 100%;
			height: auto;
		}
	}
}

button.photo-prod-prev {
	left: 0;
	
}
.swiper-next {
}
button.photo-prod-next {
	right: 0;
}

.popular-products {

	.product {
		@media (min-width:$tablet){
			display: grid;
			padding: 10px;
			grid-template-columns: 27% 1fr;
			@include adaptiveValue("column-gap", 25, 10,0,1920,1001.02); 
		}
		&:hover{
			box-shadow: none;
		}
		@media (max-width:$tablet){
			
		}
		& .product__actions {
			@media (min-width:$tablet){
				 display: none; 
			}
		}
		&__cost {
			margin-bottom: 5px;
		}
	}

	.product__content > * {
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	.feedback__star-item {
		@media (max-width:$tablet){
			width: 39px;
			margin-right: -5px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 50, 20,0,768,320); 
		}
	}
	&__item {
		&:not(:last-child) {margin-bottom: toRem(40);}
		@media (max-width:$mobileSmall){
			 &:not(:last-child) {margin-bottom: toRem(20);} 
		}
	}

	&__title {
	}

	&__links {
	}

	&__wrapper {
		@media (min-width:$tablet){
			 flex-direction: column;
			 row-gap: toRem(20);
		}
	}

	&__content.swiper {
		@media (max-width:$tablet){
			 overflow: initial; 
		}
	}

	&__pagination {
	}
}


.bottom-popular {
	border-radius: 16px;
	background: #FFF;
	padding: 15px 10px;
	@media (max-width:$tablet){
		padding: 20px;
		width: 80%;
	}
	@media (max-width:$mobile){
		padding: 10px;
		 width: 100%; 
	}
	&__item {
		display: flex;
		align-items: flex-start;
		gap: 8px;
		&:not(:last-child) {margin-bottom: toRem(14);}
		@media (max-width:$tablet){
			// &:not(:last-child) {margin-bottom: toRem(10);}
			 gap: 10px;
		}
	}

	&__img {
		transform: translateY(3px);
		img {
			width: 100%;
			height: auto;
		}
		@media (max-width:$tablet){
			width: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("width", 25, 13,0,768,320);
		}
	}

	&__text {
		font-style: italic;
		color: #3B92D6;
		line-height: normal;
		text-decoration: underline;
		@media (max-width:$tablet){
			font-size: 20px;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 28, 13,0,768,320); 
		}
	}
}

