.tyu {
	width: 200px;
}

.qwe {
	margin-top: 100px;
	// width: 200px;
}
.dfg {
	display: flex;
	justify-content: space-between;
	
}
.asd {
	// border: 2px solid red;
	width: 60px;
	height: 40px;
	padding: 12px 0;
	font-size: 13px;
	display: flex;
	justify-content: center;
	border: 1px solid #B9B9B9;
	background: #FFF;
}