.page {

	&__catalog {
	}

	&__recently {
	}
}
.position {
}

.catalog {

	&__container {
	}

	&__wrapper {
		@media (min-width:$tablet){
			display: flex;
			column-gap: toRem(20);
		}
	}

	&__filters {
		outline: 1px solid red;
		@media (min-width:$tablet){
			flex: 0 0 24.025974%; /* 370/1540 */
		}
	}

	&__main {
		outline: 1px solid blue;
	}
}

.filters {

	&__form {
	}

	&__spollers {
		padding-left: 10px;
		padding-right: 10px;
	}

	&__item {
		border-top: 1px solid #EEDCE1;
		border-bottom: 1px solid #EEDCE1;
		&:first-child{
			border-top: none;
		}
		&:last-child{
			border-bottom: none;
		}
	}
}
.filter {

	&__title-wrapper {
		LIST-STYLE: NONE;
		padding: 15px 0 13px 0px;
		display: flex;
		column-gap: toRem(15);
		margin-bottom: 10px;
		cursor: pointer;
		
	}

	&__arrow {
		img {
			transition: transform 0.3s;
		}
		& img {
			._spoller-active & {
				
				transform: rotate(90deg);
			}
		}
		@media (max-width:$tablet){
			display: none;
		}
	}

	&__title {
		text-transform: uppercase;
		@media (max-width:$tablet){
			font-size: toRem(12);
		}
	}

	&__body {
		padding-top: 10px;
		padding-bottom: 10px;
		&.range {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__reset {
		margin-left: auto;
		color: $zagolovok;
		font-size: toRem(12);
		margin-right: 40;
	}

	&__list {
	}

	&__list-item {
		&:not(:last-child) {margin-bottom: toRem(14);}
	}

	&__more {
		margin-top: 14px;
		color: $zagolovok;
	}

	&__help {
	}

	&__search-all {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color: #FFF;
		background-color: $knopka-rozovaya;
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

.options {

	&__item {
		&:not(:last-child) {margin-bottom: toRem(14);}
	}

	&__input {
	}

	&__label {
	}

	&__text {
	}
}


.range {

		&__slider {
			flex: 1 0 100%;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		&__value {
			display: flex;
			align-items: center;
			column-gap: toRem(9);
		}

		&__text {
		}

		&__field-val {
		}
}

.showmore {
}

.search-button {
}
.img-search-small {
}

.main-catalog {

	&__title {
	}

	&__text {
	}

	&__products {
	}

	&__mobile-filters-open {
	}
}

.tile-brands {
}
.list-brands {
}
.tile {
}

.list {
}

.recently {

	&__container {
	}

	&__title {
	}
}





.range__field-val {
	// border: 2px solid red;
	width: 60px;
	height: 40px;
	padding: 12px 0;
	font-size: 13px;
	display: flex;
	justify-content: center;
	border: 1px solid #B9B9B9;
	background: #FFF;
}
