.page {
	&__catalog {
		.brands-tabs {
			position: relative;
		}
		.brands-tabs__body {
			// display: flex;
			// flex-wrap: wrap;
			// position: relative;
			.product {
				flex: 0 0 23.1112%;
			}
		}
		@media (max-width: $mobile) {
			.brands-tabs__navigation {
				display: flex;
				width: 100%;
				display: grid;
				grid-template-columns: auto auto 1fr;
				gap: 10px;
			}
			.brands-tabs__button {
				svg {
					// @include adaptiveValue("width", 50, 20, 0, 768, 320);
					// @include adaptiveValue("height", 50, 20, 0, 768, 320);
				}
			}
		}
	}

	&__recently {
	}
}
.position {
	.list .product img {
		object-fit: contain;
	}
}

.catalog {
	&__container {
	}

	&__wrapper {
		background-color: $fon;
		@media (min-width: $tablet) {
			display: flex;
			column-gap: toRem(20);
		}
	}

	&__filters {
		// outline: 1px solid red;
		@media (min-width: $tablet) {
			flex: 0 0 21.089631%; /* 240/1138 */
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__main {
		// outline: 1px solid blue;
		@media (min-width: $tablet) {
			flex: 0 0 75%;
		}
	}
}

.filters {
	&__form {
	}
	&__filter {
		position: relative;
		border-top: 1px solid #eedce1;
		border-bottom: 1px solid #eedce1;
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
		@media (max-width: $tablet) {
			border: none;
		}
	}

	&__spollers {
		padding-inline: 10px;
		@media (max-width: $tablet) {
			padding-inline: 0;
			margin-bottom: 20px;
			display: grid;
			// flex-wrap: wrap;
			@include adaptiveValue("gap", 20, 14,0,1001.99,768.01);
			grid-template-columns: repeat(auto-fit, minmax(calc(25% - 20px), 1fr));
		}
	}

	&__title {
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__item {
		position: relative;
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 10px;
		padding-right: 10px;
		@media (min-width: $tablet) {
			overflow: hidden;
		}
		@media (max-width: $tablet) {
			border: none;
			// outline: 1px solid;
		}
	}
}
.filter {
	&__title-wrapper {
		list-style: none;
		padding: 15px 0 13px 0px;
		display: flex;
		align-items: center;
		column-gap: toRem(15);
		@include adaptiveValue("column-gap", 15, 5, 0, 1920, 1001);
		margin-bottom: 10px;
		cursor: pointer;
		.filters__item_manufacturer & {
			// margin-bottom: 0;
		}
		@media (max-width: $tablet) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
			border-radius: 12px;
			background: #fff5f6;
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 5px;
		}
	}

	&__arrow {
		// transform: translateY(-2px);
		img {
			transition: transform 0.3s;
		}
		& img {
			._spoller-active & {
				transform: rotate(90deg);
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		column-gap: toRem(15);
		text-transform: uppercase;
		@media (max-width: $tablet) {
			font-size: 18px;
		}
	}

	&__title-help {
	}

	&__actions {
		@media (min-width: $tablet) {
			display: none;
		}
		// outline: 1px solid red;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1 0 100%;
		margin-top: 5px;
	}

	&__val {
		// outline: 1px solid blue;
		min-height: 12px;
		font-size: toRem(12);
		// text-wrap: nowrap;
		padding-right: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 110px;
		@include adaptiveValue("max-width", 160, 110, 0, 1001, 768);
	}

	&__body {
		padding-top: 10px;
		padding-bottom: 10px;

		&.range {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			row-gap: 10px;
			@media (max-width: $mobile) {
				padding-left: 20px;
				padding-right: 20px;
			}
			@media (max-width: $tablet) and (min-width: $mobile) {
				width: 120%;
			}
		}
		& .header-center__form {
			margin-bottom: 20px;
			input {
				&:hover {
					border-radius: 16px;
				}
				background-color: #fef3f6;
			}
			@media (max-width: $tablet) {
				display: none;
			}
		}
		@media (max-width: $tablet) {
			position: absolute;
			z-index: 5;
			background-color: $fon;
			// background-color: #b9b9b9;
			padding: 10px toRem(10);
			outline: 1px solid #FFF5F6;
			border-radius: 12px;
		}
		@media (max-width: $mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__reset,
	&__reset-check {
		@media (min-width: $tablet) {
			top: 13px;
			bottom: initial;
			&:hover {
				transition: color 0.3s;
				color: $knopka-rozovaya;
			}
		}
		// display: none;
		// @media (max-width:$tablet){
		display: inline-block;
		color: $zagolovok;
		font-size: toRem(12);
		position: absolute;
		right: 6px;
		bottom: 5px;
		z-index: 2;
		// }
	}

	&__showmore {
		@media (min-width: $tablet) {
			max-height: 258px;
		}
		// height: 600px;
		&._showmore-active {
			overflow-y: auto;
			@media (max-width: $tablet) {
				overflow-y: initial;
			}
		}
		@media (max-width: $tablet) {
		}
		@include scroll-view;
	}

	&__list[data-showmore-content] {
		@media (max-width: $tablet) and (min-width: $mobile) {
			padding: 0 toRem(0);
			position: relative;
			z-index: 5;
			padding-right: 8px;
			max-height: 258px;
			overflow-y: auto;
			@include scroll-view;
		}
	}

	&__list-item {
		&:not(:last-child) {
			margin-bottom: toRem(14);
		}
	}

	&__more {
		margin-top: 14px;
		color: $zagolovok;
		&:hover {
			transition: color 0.3s;
			color: $knopka-rozovaya;
		}
	}

	&__help {
		// transform: translateY(-2px);
		position: absolute;
		z-index: 2;
		@media (min-width: $tablet) {
			left: 86px;
			top: 13px;
		}
		@media (max-width: $tablet) {
			left: 93px;
			top: 16px;
		}

		&_testers {
			margin-left: 5px;
		}
	}

	&__search-all {
		font-size: 14px;
		@media (max-width: $tablet) {
			display: none;
		}
	}
}

.options {
	&__item {
		.catalog &,
		#advanced-search & {
			margin-bottom: 14px;
			@media (max-width: $tablet) {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.catalog-otlivants & {
			&:last-child{
				margin-bottom: 0;
			}
		}
	}


}

.range {
	&__slider {
		flex: 1 0 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&__value {
		display: flex;
		align-items: center;
		column-gap: toRem(9);
		@media (max-width: $tablet) {
			flex: 0 0 50%;
			width: 50%;
			column-gap: toRem(5);
		}
	}

	&__text {
	}

	&__field-val {
		width: 60px;
		height: 40px;
		padding: 12px 0;
		font-size: 13px;
		display: flex;
		justify-content: center;
		border: 1px solid #b9b9b9;
		background: #fff;
	}
}

.main-catalog {
	&__title {
	}

	&__text {
		margin-bottom: toRem(40);
		line-height: normal;
		@media (max-width: $tablet) {
			font-size: toRem(20);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 28, 14, 0, 768, 320);
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		// flex-wrap: wrap;
		gap: 30px 20px;
		@media (max-width: em(530)) {
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		}
		.list & {
			grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
			@media (max-width: $mobileSmall) {
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			}
		}
	}

	&__products {
	}

	&__mobile-filters-open {
		display: none;
		@media (max-width: $mobile) {
			// display: block;
			margin-left: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $zagolovok;
			padding: 20px;
			text-transform: uppercase;
			border: 1px solid #931e3f;
			// width: 100%;
			@include adaptiveValue("font-size", 30, 15, 0, 768, 320);
			@media (max-width: $mobileSmall) {
				padding: 12px;
			}
		}
	}
}



.recently {
	margin-top: toRem(100);
	margin-bottom: toRem(80);
	.point & {
		margin-top: 20px;
	}
	
}

